{% load i18n %} 
<div class="card mb-3">
    <h5 class="card-header bg-info-light text-info">{% trans 'Newsletter' %}</h5>
    <div class="card-body">

	<p>{% trans 'Just updates about Pi and More, no spam!' %}</p>
	
	

	<form id="newsletter_form" method="post" name="subscribe" action="#">
	    <noscript>
		<p id="newsletter_enable_js_text">{% blocktrans %}To subscribe, please enable JavaScript or send a mail to kontakt@cmd-ev.de.{% endblocktrans %}</p>
	    </noscript>
	    
	    <div id="newsletter_form_email" class="input-group">
		<div class="input-group-prepend"><div class="input-group-text">@</div></div>
		<input type="email" class="form-control" name="email" placeholder="{% trans 'email address' %}">
	    </div>
	    <div id="recaptcha" class="d-none g-recaptcha" data-sitekey="6LeIeBYTAAAAAKOAvX3DLHCbylA8hmDqJnkQn-MO" data-size="compact"></div>

	    <input id="newsletter_form_submit" class="btn btn-default" style="margin-top:5px;margin-bottom:15px;width:100%;" type="submit" name="subscribe" value="{% trans 'Subscribe' %}">

	</form>


	<div id="newsletter_form_waiting" class="overlay-item" style="background-color: #ccc;display:none;">
	</div>

	<div id="newsletter_form_success" class="overlay-item bg-success" style="display:none;">
	    <div style="text-align:center; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);">
		<span class="fas fa-4x fa-check-circle"></span>
		<br>
		{% trans 'Please check your inbox!' %}
	    </div>
	</div>

	<div id="newsletter_form_error" class="overlay-item bg-danger" style="display:none;">
	    <div style="text-align:center; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);">
		<span class="fas fa-4x fa-exclamation-triangle"></span>
		<br>
		{% trans 'Sorry, an error occurred. Please try again later!' %}
	    </div>
	</div>

	<iframe src="about:blank" name="newsletter_subscribe_iframe" width="300" height="300" style="display:none;">
	</iframe>

	<script src="https://www.google.com/recaptcha/api.js"></script>
	<script>
	 $('#newsletter_form_email :input').keyup(function() {
	     $('#recaptcha').removeClass('d-none');
	 });		


	 $('#newsletter_form').submit(function() {
	     if($('#newsletter_form_email :input').val().indexOf('@') < 0) {
		 return false;
	     }
	     // $('#newsletter_form :input').prop('disabled',true);
	     $('#newsletter_form_waiting').spin();
	     $('#newsletter_form_waiting').fadeIn(500); 
	     $.post("https://lists.cmd-ev.de/newsletter-subscribe.php", $('#newsletter_form').serialize())
	      .done(function() {
		  $('#newsletter_form_waiting').fadeOut(500);
		  $('#newsletter_form_success').fadeIn(500);
	      })
	      .fail(function() {
		  $('#newsletter_form_waiting').fadeOut(500);
		  $('#newsletter_form_error').fadeIn(500);
	      });
	     
	     return false;
	 });


	</script>





	
	<p>{% blocktrans %}All news also on <a href="https://twitter.com/PiAndMore" target="_blank"><span class="fab fa-lg fa-twitter"></span></a> and <a href="https://facebook.com/PiAndMore" target="_blank"><span class="fab fa-lg fa-facebook-f"></span></a>.{% endblocktrans %}</p>
	
	




    </div>
</div>
