{% load i18n thumbnail cache staticfiles %}

{% cache FROSCH_CACHE_TIMEOUT 'partners' %}
<div class="card mb-3">
    <h5 class="card-header ">{% trans 'Partners' %}</h5>
    <div class="card-body">
	<div>
	<div class="partner-grid">
	    <a class="partner-tile" href="https://cmd-ev.de/">
		<img class="bloatfish" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="">
		<img class="partner-image" src="{% static 'images/cmd-logo-schwarz.png' %}" alt="CMD e.V.">
	    </a>
	    {% for partner in partners.all %}
	    <a class="partner-tile" href="{{ partner.link }}">
		<img class="bloatfish" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="">
		<img class="partner-image" src="{% thumbnail partner.logo 160x160  crop=scale %}" alt="{{ partner.name }}">
	    </a>
	{% endfor %}
	</div>
	</div>
    </div>
</div>
{% endcache %}
