{% load i18n thumbnail  %}
{% if previous_conference %}
<div class="card mb-3">
    <h5 class="card-header bg-dark text-white">{% trans 'Previous Event' %}</h5>
    <a href="{% url 'core_conference:conference' previous_conference.url_snippet %}"><img class="card-img-bottom" src="{% thumbnail previous_conference.intro_image 250x100 crop %}" />
        <span id="image-overlay-text-previous-conference">{{ previous_conference.short_name }}</span>

    </a>
</div>
{% endif %}
