{% load l10n i18n %}
<article class="card mb-3">
    <h4 class="card-header">{% trans "Search" %}</h4>
    <form method="get" action="{% url 'core:contributions' %}">
        <div class="input-group">
            <input name="search" type="text" class="form-control" placeholder="{% trans 'search contributions' %}" value="{{ search }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
</article>
