{% load i18n %}
<div class="card mb-3">
    <h5 class="card-header bg-raspberry-light text-raspberry">{% trans '@piandmore' %}</h5>
    <div class="card-img">
      <a class="twitter-timeline" data-height="700" data-dnt="true" href="https://twitter.com/PiAndMore?ref_src=twsrc%5Etfw">Tweets by PiAndMore</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
