{% load markdown_deux_tags %}

{% if what_is_pam_card %}
<div class="card mb-3 {% if hide_on_small_devices %}d-none d-md-block{% endif %}">
    <h5 class="card-header bg-raspberry-light text-raspberry-dark">{{ what_is_pam_card.title }}</h5>
    <div class="card-body">
	{{ what_is_pam_card.content|markdown }}
    </div>
</div>
{% endif %}
