{% load i18n %}
<div class="card mb-3">
    <h5 class="card-header bg-raspberry-light text-raspberry">{% trans 'Recorded Talks' %}</h5>
    <div class="card-body">
        <script src="https://apis.google.com/js/platform.js"></script>

        <div class="g-ytsubscribe" data-channelid="UChmJENjkDxZbsTUsZyWuH5g" data-layout="full" data-count="default"></div>
    </div>
</div>
