.ticket {
	backface-visibility: hidden;
	display: block;
	position: relative;
	padding: 15px 25px;
	background-image:
        radial-gradient( ellipse closest-side at 50%  50%, hsla(0, 0%, 100%, 0.10), transparent 90%),
        radial-gradient( circle at 0    100%, transparent 14px, #efefef 15px),
        radial-gradient( circle at 100% 100%, transparent 14px, #efefef 15px),
        radial-gradient( circle at 100% 0, transparent 14px, #efefef 15px),
        radial-gradient( circle at 0    0, transparent 14px, #efefef 15px);
	background-position: center center, bottom left, bottom right, top right, top left;
	background-size: cover, 51% 51%, 51% 51%, 51% 51%, 51% 51%;
	background-repeat: no-repeat;
	border-width: 0 4px;
	border-color: transparent;
	border-style: solid;
	border-image: radial-gradient(cover circle, #efefef 0%, #efefef 50%, transparent 51%) 0 39% / 15px 4px repeat;
	-webkit-filter: drop-shadow(hsla(0, 0%, 0%, 0.55) 1px 1px 2px);
	filter: drop-shadow(1px 1px 2px hsla(0, 0%, 0%, 0.55));
	width: 100%;
	margin-bottom: 1em;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.ticket-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
        align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
        justify-content: center;
	z-index: -1;
}
.ticket-overlay > * {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.ticket-line {
    padding: 10px 15px;
    display: block;
    min-height: 21px;
}
.ticket-right {
    display: none;
    position:absolute;
    text-align: center;
    top: 0;
    right: 15px;
    bottom: 0;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    pointer-events: none;
}
.ticket-ok {
    background-image:
        radial-gradient( ellipse closest-side at 50%  50%, hsla(0, 0%, 100%, 0.10), transparent 90%),
        radial-gradient( circle at 0    100%, transparent 14px, #dfffdf 15px),
        radial-gradient( circle at 100% 100%, transparent 14px, #dfffdf 15px),
        radial-gradient( circle at 100% 0, transparent 14px, #dfffdf 15px),
        radial-gradient( circle at 0    0, transparent 14px, #dfffdf 15px);
    border-image: radial-gradient(cover circle, #efefef 0%, #dfffdf 50%, transparent 51%) 0 39% / 15px 4px repeat;
}
.ticket-canceled {
    background-image:
        radial-gradient( ellipse closest-side at 50%  50%, hsla(0, 0%, 100%, 0.10), transparent 90%),
        radial-gradient( circle at 0    100%, transparent 14px, #ffdfdf 15px),
        radial-gradient( circle at 100% 100%, transparent 14px, #ffdfdf 15px),
        radial-gradient( circle at 100% 0, transparent 14px, #ffdfdf 15px),
        radial-gradient( circle at 0    0, transparent 14px, #ffdfdf 15px);
    border-image: radial-gradient(cover circle, #efefef 0%, #ffdfdf 50%, transparent 51%) 0 39% / 15px 4px repeat;
}

.ticket-line > .form-group {
	margin-bottom: 0;
}
.ticket-line > .form-group > label {
	max-width: 70px;
	padding-left: 0;
	display: inline-block;
}
.ticket-line > .form-group > div {
	float: none;
	display: inline-block;
}
.ticket-line > .form-group > div > input {
	margin-top: -1ex;
	display: inline-block;
	width: inherit;
	background: transparent;
}
