{% load l10n i18n %}
<div
    class="scheduleable {{ s.get_css_classes }} scheduleable-event"
    id="scheduleable-{{ s.id }}"
    style="grid-column: {{ s.column|add:2 }}/span {{ s.column_span }}; grid-row: {{ s.row|add:1 }}/span {{ s.length_ }};"
    data-length="{{ s.length_ }}">

    <span class="time">{{ s.start_datetime|time:"H:i" }} ({{ s.event_type }})</span>
    <div class="title" >{{ s.title }}</div>
    <div class="subtitle" >{{ s.subtitle|default:"" }}</div>
    
</div>
