{% load l10n i18n %}
<div
    class="scheduleable {{ s.get_css_classes }} {% if user in s.staff_assigned.all %}job-assigned{% else %}job-unassigned{% endif %}"
    id="scheduleable-{{ s.id }}"
    style="grid-column: {{ s.column|add:2 }}/span {{ s.column_span }}; grid-row: {{ s.row|add:1 }}/span {{ s.length_ }};"
    data-length="{{ s.length_ }}">

    
    {% if s.active_layer %}
    {% if not user in s.staff_assigned.all %}
    <button class="btn btn-primary" type="submit" name="jobassign-action-add" value="{{ s.id }}"
            {% if not s.can_add %}disabled{% endif %} title="{% if s.can_add %}{% trans 'Add me to this job' %}
                   {% else %}{% trans 'You cannot add yourself to this job: ' %}{{ s.can_add_whynot }}
                   {% endif %}"><i class="fas fa-user-plus" aria-hidden="true"></i></button>
    {% else %}
    <button class="btn btn-secondary" type="submit" name="jobassign-action-remove" value="{{ s.id }}" title="{% trans "Remove yourself from this job." %}"><i class="fas fa-user-times" aria-hidden="true"></i></button>
    {% endif %}
    {% endif %}


    <span class="time">{{ s.start_datetime|time:"H:i" }}</span>
    <div class="title" >{{ s.job_type.name }}</div>
    {% if s.event %}
    <div><small>{{ s.event.title }}</small></div>
    {% endif %}

    
    {% if user in s.staff_assigned.all %}
    <div class="alert alert-success">You signed up.</div>
    {% else %}
    {% if not s.can_add %}
    <div class="alert alert-warning">{% trans "You cannot add yourself: " %}{{s.can_add_whynot}}</div>
    {% endif %}
    {% endif %}
</div>
