{% load admin_urls %}
<div
    class="scheduleable {{ s.get_css_classes }} {% if user in s.staff_assigned.all %}job-assigned{% else %}job-waitlisted{% endif %}"
    id="scheduleable-{{ s.id }}"
    style="grid-column: {{ s.column|add:2 }}/span {{ s.column_span }}; grid-row: {{ s.row|add:1 }}/span {{ s.length_ }};"
    data-length="{{ s.length_ }}">
    
    
    <span class="time">{{ s.start_datetime|time:"H:i" }}</span>
    <div class="title" >{{ s.job_type.name }}</div>
    <div class="subtitle" >{{ s.subtitle|default:"" }}</div>
    <div class="persons">{{ s.get_persons_required.all|join:", " }}</div>
</div>
