
.form-group .multiple-checkbox ul, .form-group .radio ul {
    list-style-type: none;
}

#content > ul, #content > ol {
  margin-left: 25px !important;
  list-style-type: square;
}

body > *:first-child {
    margin-top: 0px;
}

.alert {
    border: none;
    padding: 5px;
}

emph {
    font-style: italic;
}

.td-event-status {
    text-align: left;
}

.event-status {
/*    font-family: monospace; */
    font-size: 85%;
    border: 1px solid #ddd;
/*    background-color: #fff;*/
    padding: 1px;
    margin-left: 1ex;
}

table.events .btn {
    margin-left: 1ex;
    margin-top: 2px;
}

#mediaset table td, #linkset table td {
    vertical-align: top;
}

fieldset {
    border: 1px solid #fff;
    margin: 5px;
    padding: 2px;
}

.help-block {
    font-weight: normal;
}    

th .help-block {
    margin-bottom: 1px;
    margin-top: 2px;
}

/* removed for bootstrap 4
.navbar-brand-text {
    margin-top: -10px;
}
*/

#navigationbar form {
    display: inline;
}

#navigationbar .btn {
    margin-top: 7px;
    padding-top: 7px;
}

#content img {
    max-width: 100%;
}

#add-submit-button {
    padding: 0;
    margin: 0;
    font-weight: bold;
    border: none;
    font-size: 101.5%;
}


.wmd-helper-text {
    position: absolute;
    right: 30px;
    margin-top: -21px;
}

html, body {
    height: 100%;
}

#top-container {
    min-height: 100%;
    padding-bottom: 190px;
}

#content {
    overflow:auto;
    
}  

.cancelbutton.active {
    background-color: #C12E2A !important;
    border-color: #B92C28 !important;
}

.cancelbutton.active:hover {
    background-color: #AC2925 !important;
    border-color: #761C19 !important;
}

.uncancelbutton.active {
    background-color: #419641 !important;
    border-color: #3e8f3e !important;
}

.uncancelbutton.active:hover {
    background-color: #398439 !important;
    border-color: #255625 !important;
}


.ticket {
	backface-visibility: hidden;
	display: block;
	position: relative;
	padding: 15px 25px;
	background-image:
        radial-gradient( ellipse closest-side at 50%  50%, hsla(0, 0%, 100%, 0.10), transparent 90%),
        radial-gradient( circle at 0    100%, transparent 14px, #efefef 15px),
        radial-gradient( circle at 100% 100%, transparent 14px, #efefef 15px),
        radial-gradient( circle at 100% 0, transparent 14px, #efefef 15px),
        radial-gradient( circle at 0    0, transparent 14px, #efefef 15px);
	background-position: center center, bottom left, bottom right, top right, top left;
	background-size: cover, 51% 51%, 51% 51%, 51% 51%, 51% 51%;
	background-repeat: no-repeat;
	border-width: 0 4px;
	border-color: transparent;
	border-style: solid;
	border-image: radial-gradient(cover circle, #efefef 0%, #efefef 50%, transparent 51%) 0 39% / 15px 4px repeat;
	-webkit-filter: drop-shadow(hsla(0, 0%, 0%, 0.55) 1px 1px 2px);
	filter: drop-shadow(1px 1px 2px hsla(0, 0%, 0%, 0.55));
	width: 100%;
	margin-bottom: 1em;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.ticket-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
        align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
        justify-content: center;
	z-index: -1;
}
.ticket-overlay > * {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.ticket-line {
    padding: 10px 15px;
    display: block;
    min-height: 21px;
}
.ticket-right {
    position:absolute;
    text-align: center;
    top: 0;
    right: 15px;
    bottom: 0;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.ticket-ok {
    background-image:
        radial-gradient( ellipse closest-side at 50%  50%, hsla(0, 0%, 100%, 0.10), transparent 90%),
        radial-gradient( circle at 0    100%, transparent 14px, #dfffdf 15px),
        radial-gradient( circle at 100% 100%, transparent 14px, #dfffdf 15px),
        radial-gradient( circle at 100% 0, transparent 14px, #dfffdf 15px),
        radial-gradient( circle at 0    0, transparent 14px, #dfffdf 15px);
    border-image: radial-gradient(cover circle, #efefef 0%, #dfffdf 50%, transparent 51%) 0 39% / 15px 4px repeat;
}
.ticket-canceled {
    background-image:
        radial-gradient( ellipse closest-side at 50%  50%, hsla(0, 0%, 100%, 0.10), transparent 90%),
        radial-gradient( circle at 0    100%, transparent 14px, #ffdfdf 15px),
        radial-gradient( circle at 100% 100%, transparent 14px, #ffdfdf 15px),
        radial-gradient( circle at 100% 0, transparent 14px, #ffdfdf 15px),
        radial-gradient( circle at 0    0, transparent 14px, #ffdfdf 15px);
    border-image: radial-gradient(cover circle, #efefef 0%, #ffdfdf 50%, transparent 51%) 0 39% / 15px 4px repeat;
}

.ticket-line > .form-group {
	margin-bottom: 0;
}
.ticket-line > .form-group > label {
	max-width: 50px;
	padding-left: 0;
	display: inline-block;
}
.ticket-line > .form-group > div {
	float: none;
	display: inline-block;
}
.ticket-line > .form-group > div > input {
	margin-top: -1ex;
	display: inline-block;
	width: inherit;
	background: transparent;
}

.legalese {
    color: #999;
}


/* added for bootstrap 4 */

body {
    padding-top: 0px;
}

#top-container {
    padding-top: 2rem;
}


.jobgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px 5px;
}
.jobcard {
    display: block;
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;
}
.jobcard.active, .jobcard.active button i {
    background-color: #343a40;
    color: #fff;
}
.jobcard h4 {
    margin-top: 0 !important;
    padding-right: 2em;
}
form.donotlike {
    position: absolute;
    right: 5px;
    top: 5px;
}
form.donotlike, form.dolike {
    font-size: 1.2rem;
}
form.donotlike button, form.dolike button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/* added for bootstrap 4 on mobile */

 @media (max-width: 767px) {
     #availability .input-group {
         display: block;
     }
     #availability .input-group div, .input-group input {
         display: inline-block !important;
         width: auto !important;
     }
     .wmd-helper-text {
         position: initial;
         right: initial;
         margin-top: initial;
     }
     .wmd-panel {
         min-width: 0 !important;
     }
 }

 .invalid-feedback {
     display: initial;
 }

 .hidden {
     display: none;
 }
