{% load easy_thumbnails_tags staticfiles i18n %}
<div class="fileinput d-flex" id="{{ widget.attrs.id }}__preview">
    <div class="preview-container text-center">
        <input class="remove-preview" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
        {% if crop %}
        <img src="{% thumbnail widget.value 100x100 crop %}" class="preview">
        {% else %}
        <img src="{% thumbnail widget.value 100x100 %}" class="preview">
        {% endif %}
        {% if not widget.required %}
        <label class="btn btn-danger btn-sm" for="{{ widget.checkbox_id }}"><i class="fas fa-trash-alt"></i></label>
        {% endif %}
        <img class="no-preview" src="{% static 'images/nouserimage.png' %}">
    </div>
    <label class="custom-file">
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} class="custom-file-input">
        <label class="custom-file-label" for="{{ widget.attrs.id }}">{% trans "Choose file" %}</label>
    </label>
    
</div>
<script>
 $('#{{ widget.attrs.id }}__preview .remove-preview').on('change', function() {
     console.log(this.checked);
     var cb = $(this);
     console.debug(cb);
     if (cb.prop('checked')) {
         console.log('remove selected');
         $('#{{ widget.attrs.id }}').val(null);
         $('#{{ widget.attrs.id }}__preview .custom-file-label').removeClass("selected").text('{% trans "Choose file" %}');
     }
 });
 
 $('#{{ widget.attrs.id }}').on('change', function(){
     var filename = $(this).val();
     if (! filename) {
         console.log("empty filename");
         return;
     }
     filename = filename.substring(filename.lastIndexOf("\\") + 1, filename.length);
     $(this).next('.custom-file-label').addClass("selected").text(filename);
     var file = this.files[0];
     var reader = new FileReader();
     reader.onload = function() {
         console.log("file read");
         $('#{{ widget.attrs.id }}__preview .remove-preview').prop('checked', false);
         $('#{{ widget.attrs.id }}__preview .preview').attr('src', reader.result);
         
     };
     if (file) {
         console.log('reading file');
         reader.readAsDataURL(file);
     }
 });
 {% if not widget.is_initial %}
 $('#{{ widget.attrs.id }}__preview .remove-preview').prop('checked', true);
 {% endif %}
</script>
