{% extends "page-with-cards.html" %}
{% load i18n cache bootstrap4 thumbnail %}

{% block title %}{{ FROSCH_NAME }}{% endblock %}

{% if article.image %}
{% block og_image %}{% thumbnail article.image 1000x1000 %}{% endblock %}
{% endif %}

{% block jumbotron %}
{% include 'mixins/conference-jumbotrons.html' %}
{% endblock %}


{% block maincontent %}

<p><a href="{% url 'news:index' %}">&laquo; {% trans "Back to main page " %}</a></p>
{% include 'news/article.html' %}



{% endblock %}
