{% load markdown_deux_tags thumbnail video_embed %}


<article class="card mb-3">
    <h5 class="card-header article-header">{{ article.title }} <a href="{% url 'news:article-detail' article.slug %}">{{ article.published|date }}</a></h5>
    <div class="card-body">
	<div class="card-text">{{ article.text|markdown:"trusted" }}</div>
    </div>
    {% if article.image %}
    <img class="card-img-bottom" src="{% thumbnail article.image 1000x400 crop %}" alt="">
    {% endif %}
    {% if article.video %}
	{% video_embed article.video %}
    {% endif %}
</article>
