{% load i18n bootstrap4 %}

<form class="form" action="" method="post" id="availability">
    {% csrf_token %}
    <p>{% blocktrans %}If you provide information on your availablitiy here, we will try to schedule your {{what}} accordingly.{% endblocktrans %}</p>
    {% for day, form in useravailability_forms %}
    <h4>{{ day.date }}
        {% if not skip_description %}
        ({% if day.public_start %}{% trans 'event day' %}{% else %}{% trans 'preparation/follow-up work' %}{% endif %})
        {% endif %}
    </h4>
    <p>{% blocktrans with start=day.start|time:"TIME_FORMAT" end=day.end|time:"TIME_FORMAT" %}This day is currently scheduled to commence at {{ start }} and close at {{ end }}.{% endblocktrans %}</p>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend nohide">
            <label class="input-group-text" for="inputGroupSelect01" class="nohide">{% trans "I am" %}</label>
        </div>
        {% bootstrap_field form.not_available show_label=False form_group_class="nohide" %}
        <div class="input-group-text">
            {% trans "... but not before:" %}
        </div>
        {{ form.start }}
        <div class="input-group-text">
            {% trans "... and not after:" %}
        </div>
        {{ form.end }}
    </div>
    {% endfor %}
    <script>
     //$('#availability select').val("True");
     $('#availability select').on('change', function() {
         $(this).parent().parent().find(':not(select, option, .nohide, label)').toggle($(this).val() == 'False');
     });
     
     $('#availability select').trigger('change');
    </script>
    <p style="padding-top: 1rem;">
        <button type="submit" class="btn btn-primary" value="availability" name="submit">{% trans 'Save my availability' %}</button>
    </p>
</form>
<style>
</style>
