{% load i18n cache staticfiles thumbnail %}

{% cache 0 conference_jumbotrons %}
<div class="container">
      {% for conference in active_conferences.all %}

<article class="card mb-3">
    <!--<h1 class="card-header">{{ conference.short_name }}</h1>  -->
    {% if conference.intro_image %}
    <div style="position:relative;">
      <a href="{% url 'core_conference:conference' conference.url_snippet %}">
        <img class="card-img-top" src="{% thumbnail conference.intro_image 1100x300 crop quality=95 %}" alt="">
      </a>
    </div>
    {% endif %}
    <div class="card-body bg-dark text-white">
        <div class="d-flex align-items-start">
            <h1 class="mr-auto">{{ conference.short_name }}</h1>
            
            {% if conference not in archived_conferences %}
            {% if conference.visitor_registration and conference.visitor_registration.is_active %}
            <a class="btn btn-primary btn-sm mr-1 d-none d-md-block" href="{% url 'visitorregistration:start' conference.url_snippet %}">{% trans "Register now (it's free!)" %}</a>
            
	    {% endif %}
	    {% if conference.eventsettings and conference.eventsettings.is_public and conference.eventsettings.is_call_open %}
	    <a class="btn btn-primary btn-sm mr-1 d-none d-md-block" href="{% url 'call:index' conference.url_snippet %}">{% trans 'Submit your contribution' %}</a>
            
	    {% endif %}
	    {% if conference.conferencestaffsettings and conference.conferencestaffsettings.is_public %}
            
	    <a class="btn btn-primary btn-sm mr-1 d-none d-md-block" href="{% url 'staff:index' conference.url_snippet %}">{% trans 'Become a volunteer' %}</a>
            
	    {% endif %}
            {% endif %}
        </div>
        <div class="card-text">
            <p class="mb-2" style="font-size: 120%;">
                {{ conference.venue }}, 
                {% if not conference.is_multiday %}
                {{ conference.public_start|date }}
                {% else %}
                {{ conference.public_start|date }}  &ndash; {{ conference.public_end|date }} 
                {% endif %}
            </p>
            <p style="font-size: 120%;"><a class="btn btn-primary" href="{% url 'core_conference:conference' conference.url_snippet %}">{% trans 'More information' %}</a></p>
            {% if conference not in archived_conferences %}
            {% if conference.visitor_registration and conference.visitor_registration.is_active %}
            <a class="btn btn-primary btn-sm mb-1 d-block d-md-none" href="{% url 'visitorregistration:start' conference.url_snippet %}">{% trans "Register now (it's free!)" %}</a>
            
	    {% endif %}
	    {% if conference.eventsettings and conference.eventsettings.is_public and conference.eventsettings.is_call_open %}
	    <a class="btn btn-primary btn-sm mb-1 d-block d-md-none" href="{% url 'call:index' conference.url_snippet %}">{% trans 'Submit your contribution' %}</a>
            
	    {% endif %}
	    {% if conference.conferencestaffsettings and conference.conferencestaffsettings.is_public %}
            
	    <a class="btn btn-primary btn-sm mb-1 d-block d-md-none" href="{% url 'staff:index' conference.url_snippet %}">{% trans 'Become a volunteer' %}</a>
            
	    {% endif %}
            {% endif %}
        </div>

    </div>
</article>
	{% endfor %}
</div>
{% endcache %}
