{% load i18n %}
{% url 'call:index' conference.url_snippet as url_call %}
{% url 'call:index' conference.url_snippet as url_visitor %}
{% url 'staff:index' conference.url_snippet as url_staff %}
<p>
    {% if not skip == 'call' and conference.eventsettings %}
    {% blocktrans with c=conference.short_name %}
    If you want to submit your own contributions for {{c}} please see our <a href="{{ url_call }}">Call for contributions</a>.
    {% endblocktrans %}
    {% endif %}
    {% if not skip == 'visitor' and conference.visitor_registration and conference.visitor_registration.is_active %}
    {% blocktrans with c=conference.short_name %}
    If you just want to register as a visitor, please follow  <a href="{{ url_visitor }}">this link</a>. 
    {% endblocktrans %}
    {% endif %}
    {% if not skip == 'staff' and conference.conferencestaffsettings and conference.conferencestaffsettings.is_public %}
    {% blocktrans with c=conference.short_name %}
    If you would like to help out at {{ c }}, you can  <a href="{{ url_staff }}">register yourself</a> in our staff registration. 
    {% endblocktrans %}
    {% endif %}
</p>
