
.article-header {
    display: flex;

    a {
	margin-left: auto;
	padding-left: 1em;
	white-space: nowrap;

	color: $navbar-light-color;

	@include hover-focus {
            color: $navbar-light-hover-color;
	}

    }
}
