{% extends "dialog.html" %}
{% load i18n bootstrap4 %}

{% block dialog_title %}{% trans "Please Log In" %}{% endblock %}

{% block dialog %}
{% url 'accounts:register' as register_url %}
{% url 'accounts:reset-password' as reset_password_url %}
<form method="post" action="{% url 'accounts:login' %}">
    {% blocktrans %}<p>You need an account at the Pi and More FROSCH conference system to continue.</p>
    <p>If you do not have an account yet, please <a href="{{ register_url }}?next={{ next }}">register now</a>.</p>
    <p>Note: You <strong>do not need an account</strong> if you only want to register as a visitor!</p>{% endblocktrans %}
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
	<input type="submit" class="btn btn-primary" value="{% trans "login" %}" />
	<input type="hidden" name="next" value="{{ next }}" />
    </div>
    {% blocktrans %}
    <p>If you forgot your password, you can <a href="{{ reset_password_url }}?next={{ next }}">reset</a> it.</p>{% endblocktrans %}
    </div>
</form>
{% endblock %}
