{% extends "dialog.html" %}
{% load i18n bootstrap4 %}

{% block dialog_title %}{% trans "Reset Password" %}{% endblock %}

{% block dialog %}
<form action="{% url 'accounts:new-password' recovery_user.id recovery_user.password_reset_token %}" method="post">
    <p>{% trans "Please select a new password." %}</p>
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
	<input type="hidden" name="next" value="{{ next }}" />
	<input type="submit" class="btn btn-primary" value="{% trans "Change Password" %}">
    </div>
</form>

{% endblock %}
