{% extends "dialog.html" %}
{% load i18n bootstrap4 staticfiles %}


{% block dialog_title %}{% trans "Your Profile" %}{% endblock %}

{% block dialog %}
<small><a href="{% url 'core:user' request.user.id %}">{% trans "View your public profile" %}</a></small>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.media }}
    
    {% bootstrap_messages %}
    
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
	<input type="submit" class="btn btn-primary" value="{% trans "Update Profile" %}">
    </div>
</form>
{% endblock %}
