{% extends "dialog.html" %}
{% load i18n bootstrap4 %}

{% block dialog_title %}{% trans "Create an account" %}{% endblock %}

{% block dialog %}
<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    <div class="form-group">
	<input type="submit" class="btn btn-primary" value="{% trans "Create the account" %}">
    </div>
</form>
{% endblock %}
