{% extends "dialog.html" %}
{% load i18n %}
{% block dialog_title %}{% trans "Reset Password" %}{% endblock %}

{% block dialog %}
<form method="post" action="{% url 'accounts:reset-password' %}">
    {% if not identifier %}
    {% url 'accounts:register' as register_url %}
    {% blocktrans %}<p>Please provide your username or email address.</p>
    <p>We will send a link to the email address of this account to reset the password.</p>
    <p>If you do not have an account yet, please <a href="{{ register_url }}?next={{ next }}">register now</a>.</p>{% endblocktrans %}
    {% endif %}

    {% if identifier and results == 0 %}
    <div class="alert alert-danger">
	{% trans "We were unable to find a user with this name or email address. Please contact us via email if you have troubles accessing your account." %}
    </div>
    {% endif %}

    {% if identifier and results > 0 %}
    <div class="alert alert-success">
	{% trans "We sent a mail to your email address. Please click on the link contained therein." %}
    </div>
    {% else %}


    {% csrf_token %}
    <div class="form-group">
	<input type="text" class="form-control" name="identifier" value="{{ identifier }}" />
    </div>
    <div class="form-group">
	<input class="btn btn-primary" type="submit" value="{% trans "send password reset link" %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>
{% endif %}


{% endblock %}
