{% extends "dialog.html" %}
{% load i18n %}

{% block dialog_title %}{% trans "Account unlocked!" %}{% endblock %}

{% block dialog %}
{% blocktrans %}<p>Thanks for confirming your email address.</p>
<p>You are logged in now.</p>{% endblocktrans %}
<div class="form-group">
    <a href="{{ next }}" class="btn btn-primary">{% trans "proceed" %} <i class="fas fa-caret-right"></i></a>
</div>
{% endblock %}
