{% load markdown_deux_tags i18n %}
<html>
    <head>
	<meta charset="UTF-8">
	<title></title>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

	    <link rel="stylesheet" type="text/css" media="all" href="https://piandmore.de/themes/pam/assets/css/style.css?x=2016012600" />

	    <style>

	     body {
		 background-color: #fff;
		 padding-top: 0px;
		 }

	     a.details {
		 visibility: hidden;
	     }

	     a {
		 text-decoration: inherit;
		 color: inherit;
		 font-weight: inherit;
	     }

	   /*  .rotation {
		 transform: rotate(-90deg);
		 transform-origin: left bottom 0;
	     }
	     .rotation:after {
		 content: '';
		 display: block;
		 clear: both;
		 height: 0;
		 width: 100%;
	     }
	     .rotation .rotate {
		 margin-right: 20px;
	     } */
	     
	    </style>

    </head>
    <body>

	<div>
	    <!-- <div class="rotation">
		<div style="float: left">
		    <div class="rotate">Programm - {{ conferenceeventsettings.conference.long_name }}</div>
		</div>
	    </div //-->
	    {% include "callforcontributions/management-commands/dump-schedule/schedule-grid.html" %}
	</div>
	
    </body>
</html>
