{% extends "./conference_base_no_cards.html" %}

{% load l10n i18n staticfiles cache bootstrap4 thumbnail markdown_deux_tags %}

{% block title %}{{ conference.long_name }}{% endblock %}
{% block og_title %}{{ conference.long_name }}{% endblock %}

{% block og_image %}{% if conference.intro_image %}{% thumbnail conference.intro_image 1200x630 crop quality=95 %}{% else %}{% static 'images/piandmore.png' %}{% endif %}{% endblock %}

{% block maincontent %}

{% if user.is_staff %}
<div class="row">
    <div class="col-md-12" style="font-size: 85%;">
    <div class="btn-toolbar" role="toolbar">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">{{ conference.short_name }}</div>
            </div>
            {% if user.is_staff %}
            <a class="btn btn-secondary" href="{% url 'admin:core_conference_change' conference.id %}">edit</a>
            {% endif %}
            {% if conference.visitor_registration and conference.visitor_registration.is_active %}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ conference.visitor_registration.booked_tickets }} ({{ conference.visitor_registration.booked_tickets_last_24h }} {% trans 'last 24 hours' %})</div>
            </div>
            {% endif %}
        </div>
        
    </div>
    <div class="btn-toolbar" role="toolbar">
        
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Schedule: {{ conference.eventsettings.get_version }} ({{ conference.eventsettings.last_draft_released|date }})</div>
            </div>
            <a class="btn btn-secondary" href="{% url 'admin:versionable_callforcontributions.conferenceeventsettings_changes' conference.id %}">
                {% if conference.eventsettings.needs_release %}
                <i class="text-danger fas fa-exclamation-triangle" title="Changes detected - needs release!"></i>
                {% endif %}
                {% trans 'release' %}
            </a>
            <a class="btn btn-secondary" href="{% url 'admin:callforcontributions_event_changelist' %}?conference={{ conference.id }}">list</a>
            <a class="btn btn-secondary" href="{% url 'admin:schedule/events' conference.id %}">scheduler</a>
        </div>
        
    </div>
    <div class="btn-toolbar" role="toolbar">


        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Jobs: {{ conference.conferencestaffsettings.get_version }} ({{ conference.conferencestaffsettings.last_draft_released|date }})</div>
            </div>
            <a class="btn btn-secondary" href="{% url 'admin:versionable_staffregistration.conferencestaffsettings_changes' conference.id %}">
                {% if conference.conferencestaffsettings.needs_release %}
                <i class="text-danger fas fa-exclamation-triangle" title="Changes detected - needs release!"></i>
                {% endif %}
                {% trans 'release' %}
            </a>
            <a class="btn btn-secondary" href="{% url 'admin:staffregistration_job_changelist' %}?conference={{ conference.id }}">list</a>
            <a class="btn btn-secondary" href="{% url 'admin:schedule/jobs' conference.id %}">scheduler</a>
        </div>

        
    </div>
    </div>
</div>
{% endif %}


<!-- Main Article -->        
<article class="card mb-3">
    {% include 'core/conference/intro_image.html' %}
    {% if sponsors and not conference in archived_conferences %}
    <div class="row">
        <div class="col-md-8">
            <div class="card-body">
                {% include 'core/conference/information.html' %}
            </div>
        </div>
        <div class="col-md-4">
            {% include 'core/cards/conference_sponsors.html' %}
        </div>
    </div>
    {% else %}
    <div class="card-body">
        {% include 'core/conference/information.html' %}
    </div>
    {% endif %}
    
    {% include 'core/conference/gallery.html' %}
    {% include 'core/conference/highlights.html' %}        
</article>

{% if conference  not in archived_conferences %}
<article class="card mb-3">
    {% include 'core/conference/venue.html' %}
</article>
{% endif %}

{% if conference.eventsettings.last_draft_released %}
<article class="card mb-3">
    {% include 'core/mixins/public-schedule-grid.html' %}
</article>
{% endif %}

<div class="modal" id="eventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-content" role="document">
    </div>
</div>

{% endblock %}
