{% extends "page-with-cards-left.html" %}
{% load staticfiles thumbnail leaflet_tags compress %}

{% block title %}{{ FROSCH_NAME }}{% endblock %}


{% block navbar %}
{% if conference in archived_conferences %}
{% with subnav="subnav/archive.html" %}
{{ block.super }}
{% endwith %}
{% else %}
{% with subnav="subnav/conference.html" %}
{{ block.super }}
{% endwith %}
{% endif %}
{% endblock %}


{% block og_image %}{% if conference.intro_.image %}{% thumbnail conference.intro_image 1000x1000 %}{% else %}{{ block.super }}{% endif %}{% endblock %}


{% block extrahead %}
{% compress js %}
{% leaflet_js %}
<script src="{% static 'awesome-markers/leaflet.awesome-markers.js' %}"></script>
<script src="{% static 'lightbox/ekko-lightbox.js' %}"></script>
<script src="{% static 'iscroll/iscroll.js' %}"></script>
{% endcompress %}
{% compress css %}
{% leaflet_css %}
<link href="{% static 'awesome-markers/leaflet.awesome-markers.css' %}" rel="stylesheet">
<link href="{% static 'lightbox/ekko-lightbox.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}

{% block extrafooter %}
<script>
 $(document).on('click', '[data-toggle="lightbox"]', function(event) {
     event.preventDefault();
     $(this).ekkoLightbox({
     });
 });
</script>
{% endblock %}
