{% extends "./conference_base.html" %}
{% load l10n i18n staticfiles cache bootstrap4 thumbnail markdown_deux_tags leaflet_tags geojson_tags  %}

{% block title %}{{ FROSCH_NAME }}{% endblock %}

{% block extracards %}
{% include 'core/cards/conference_quick_facts.html' with conference=event.conference %}
{% include 'cards/search-contribution.html' %}
{% endblock %}


{% block maincontent %}
<!-- Main Article -->
<p><a href="{% url 'core_conference:conference' event.conference.url_snippet %}">&laquo; {% trans "Back to schedule for " %}{{ event.conference.short_name }}</a></p>
<div class="mt-3">
  {% include 'core/event.html' with hideClose=True %}
</div>
{% endblock %}
