{% extends "page-without-cards.html" %}
{% load i18n bootstrap4 markdown_deux_tags %}

{% block title %}{{ FROSCH_NAME }}{% endblock %}


{% block maincontent %}

<div class="card">
    <h3 class="card-header bg-dark text-white">
	{% trans "Contact" %}
    </h3>
    <div class="card-body">
	{% include 'core/contact_form.html' with form=form %}
    </div>
</div>
    
{% endblock %}
