{% extends "page-with-cards-left.html" %}
{% load l10n i18n staticfiles cache bootstrap4 thumbnail markdown_deux_tags leaflet_tags geojson_tags  %}

{% block title %}{{ FROSCH_NAME }}{% endblock %}


{% block maincontent %}
<!-- Main Article -->

{% if not object_list %}
<div class="container">
    <div class="alert alert-warning col-md-12">
        {% trans "Found no contributions matching your criteria." %}
    </div>
</div>
{% endif %}

{% for s in object_list %}

{% ifchanged s.event_type %}
{% if not forloop.first %}</ul></article>{% endif %}
<article class="card mb-3">
    <h3 class="card-header bg-dark text-white">{{ s.event_type }}</h3>
    <ul class="list-group list-group-flush">
        {% endifchanged %}
        {% ifchanged s.title s.subtitle %}
        {% ifchanged s.event_type %}{% else %}</li>{% endifchanged %}
        <li class="list-group-item">
        <h5>{{ s.title }}
            {% if s.subtitle %}<br><small class="text-muted">{{ s.subtitle }}</small>{% endif %}
        </h5>
        {% endifchanged %}
        <a href="{% url 'core_conference:conference_public_event' s.conference.url_snippet s.stable_id %}" class="eventlink">{{ s.conference }}</a>{% if s.video %}&nbsp;<i class="fab fa-youtube"></i>{% endif %}<br>
        {{ event }}
{% endfor %}
        </li>
    </ul>
</article>

{% endblock %}

{% block extracards %}

{% include 'cards/search-contribution.html' %}
{% include 'cards/youtube.html' %}
{% endblock %}
