{% load markdown_deux_tags bootstrap4 i18n %}
{{ contact_page_content|markdown:"trusted" }}
<form method="post" {% if modal %}id="contact-form"{% endif %}>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if not modal %}
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button> {% if imprint_page_slug %}<a href="{% url 'page:page' imprint_page_slug %}">{% trans 'Imprint' %}</a>{% endif %}
    {% endif %}
</form>
