{% load i18n markdown_deux_tags video_embed %}

<article class="card event" id="event-{{event.stable_id}}">
    <h2 class="card-header">{% if not hideClose|default:False %}
        <i class="fas fa-times" style="float: right;" onclick="$('#eventModal').modal('hide');"></i>
        {% endif %}{{ event.title }}{% if event.subtitle %}<br><span class="invisible" hidden> — </span><small>{{ event.subtitle }}</small><br><small>{{ event.event_type.name }}{% if event.track %} ({% trans "Track" %} {{ event.track }}){% endif %}</small>{% endif %}
      
	{% if user.is_staff %}
        <a href="{% url 'admin:callforcontributions_event_change' event.stable_id %}" class="editlink">✎</a>
        {% endif %}
    </h2>
    <div class="card-body">
	{% if event.teaser_image %}
	<img src="data:image/png;base64,{{ event.get_teaser_image_as_base64 }}" class="eventimage" alt="">
	{% endif %}
	<p class="card-text text-muted">
	    {% if event.scheduled == event.SS_DTR %}
	    {{ event.start_datetime|time:"H:i" }}{% trans "h"%} &ndash; {{ event.end_datetime|time:"H:i" }}{% trans "h"%}, {{ event.room }}
	    {% elif event.scheduled == event.SS_DR %}
	    {% trans "Whole day in" %} {{ event.room}}
	    {% else %}
	    {{ event.start_datetime|time:"H:i" }}{% trans "h"%} &ndash; {{ event.end_datetime|time:"H:i" }}{% trans "h"%}
	    {% endif %}
	</p>
	<div class="card-text">
	    {{ event.description|markdown }}

	    {% if event.speaker.all|length and not event.hide_speakers %}
	    <p>{%trans "By" %} {% for s in event.speaker.all %}
		<a href="{% url 'core:user' s.id %}">{{ s.username }}</a>{% if s.affiliation %} ({{ s.affiliation }}){% endif %}{% if forloop.revcounter > 1 %}{% if forloop.revcounter > 2 %},{% else %} {% trans "and" %} {% endif %}{% endif %}
		{% endfor %}</p>
	    {% endif %}
            
	    {% if event.public_links.all or event.public_media.all %}
	    <h5>{% trans "More information"%}:</h5>
	    <ul>
		{% for link in event.public_links.all %}
		<li><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></li>
		{% endfor %}
		{% for media in event.public_media.all %}
		<li><a href="{% url 'call:public-media' event.conference.url_snippet media.id %}" target="_blank">{% if media.name %}{{ media.name }}{% else %}Download{% endif %}</a>{% if media.name %} (Download){% endif %}</li>
		{% endfor %}
	    </ul>
	    {% endif %}
	    {% if event.video %}
	    {% video_embed event.video %}
	    {% endif %}

	</div>
    </div>
    <div class="card-footer">
      <a class="card-link" href="{% url 'core_conference:conference_public_event' event.conference.url_snippet event.stable_id %}" title="{% trans 'Permanent Link' %}"><i class="fas fa-external-link-alt"></i></a>
      <a class="card-link" href="https://twitter.com/intent/tweet?text={{ event.title|urlencode }}&via=piandmore&url={% url 'core_conference:conference_public_event' event.conference.url_snippet event.stable_id %}" title="{% trans 'Share on Twitter' %}"><i class="fab fa-twitter"></i></a>
    </div>
</article>

