{% extends "page-with-cards.html" %}
{% load i18n bootstrap4 markdown_deux_tags %}

{% block title %}{{ FROSCH_NAME }}{% endblock %}


{% block maincontent %}

<article class="card">
    <h3 class="card-header bg-dark text-white">
	{{ pagemount.page.title }}
    </h3>
    <div class="card-body">
	{{ pagemount.page.content|markdown:"trusted" }}
    </div>
</article>
    
{% endblock %}
