{% extends "page-with-cards-left.html" %}
{% load l10n i18n staticfiles cache bootstrap4 thumbnail markdown_deux_tags leaflet_tags geojson_tags  %}

{% block title %}{{ FROSCH_NAME }}{% endblock %}


{% block maincontent %}
<!-- Main Article -->

<article class="card mb-3">
    <h3 class="card-header with-background" style="background-image: url('{% if detailuser.image %}{% thumbnail detailuser.image 200x200 crop %}{% else %}{% static 'images/nouserimage.png' %}{% endif %}');">{{ detailuser.username }}
        {% if detailuser.affiliation %}<br><small>{{ detailuser.affiliation }}</small>{% endif %}
        {% if detailuser.twitter %}<br><small><a href="https://twitter.com/{{detailuser.twitter}}">@{{ detailuser.twitter }}</a></small>{% endif %}
  </h3>

  {% if detailuser.about %}
  <div class="card-body" style="padding-right: 250px;">
      <div class="card-text">{{ detailuser.about|markdown }}</div>
  </div>
  <hr>
  {% endif %}
  <div class="card-body">
      <div class="card-text">
          <!-- Organizer roles -->
          {% if organizer %}
          <h5>{% trans "Organizer" %}</h5>
          <ul>
          {% for c in organizer %}
          <li>
              {{ c.short_name }}
          </li>
          {% endfor %}
          </ul>
          {% endif %}

          <!-- Contributions -->
          {% if contributions %}
          {% for event in contributions %}
          {% ifchanged event.conference %}
          </ul>
          <h5>{% trans "Contributions at" %} {{ event.conference }} {% if event.conference.venue %}({{ event.conference.venue.name }}){% endif %}</h5>
          <ul>
          {% endifchanged %}
          <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a> ({{ event.event_type }}){% if event.video %}&nbsp;<i class="fab fa-youtube"></i>{% endif %}</li>
          {% endfor %}
          </ul>
          {% endif %}
      </div>
  </div>
</article>

{% endblock %}
