{% extends "page-with-cards-left.html" %}
{% load l10n i18n staticfiles cache bootstrap4 thumbnail markdown_deux_tags leaflet_tags geojson_tags  %}

{% block title %}{{ FROSCH_NAME }}{% endblock %}


{% block maincontent %}
<!-- Main Article -->


<article class="card mb-3">
    <h3 class="card-header bg-dark text-white">{% trans "Contributors" %}</h3>
    <div class="card-body">
            {% for user in users_others %}
            {% include 'core/mixins/user-card.html'  %}
            {% endfor %}

    </div>  
</article>


{% endblock %}

{% block extracards %}

<article class="card mb-3">
    <h4 class="card-header">{% trans "Organizers" %}</h4>
    <div class="card-body">
            {% for user in users_organizers %}
            {% include 'core/mixins/user-card.html'  %}
            {% endfor %}
    </div>  
</article>
{% endblock %}
