$timeline-line-width: 2px;
$timeline-dot-size: 12px;
$timeline-distance: 15px;
$timeline-top-padding: 10px;
$timeline-font-dot-ratio: 1.2;
$timeline-fade-width: 80px;
$timeline-end-width: 80px;
$timeline-scrollbar-height: 6px;

@mixin timeline-line() {
    &::before {
	content: '';
	height:$timeline-line-width;
	background:$gray-500;
	width:100%;
	position:absolute;
	top: $timeline-top-padding + ($timeline-dot-size - $timeline-line-width) / 2;
	left:0;
	z-index: 0;
    }
}

/*.timeline::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: $raspberry-light;
}

.timeline::-webkit-scrollbar-thumb {
    background: $raspberry;
}*/

.iScrollHorizontalScrollbar {
	position: absolute;
	z-index: 99;
	height: $timeline-scrollbar-height;
	left: 2px;
	right: 2px;
	bottom: 2px;
	overflow: hidden;
}

.iScrollIndicator {
	position: absolute;
	background: $raspberry;
	border-width: $timeline-scrollbar-height / 2;
	border-style: solid;
	border-color: $raspberry;
	border-radius: $timeline-scrollbar-height / 2;
}




.timeline-wrapper {
    overflow: hidden;
    height: 100px;
    width: 100%;
    position: relative;

    /// iscroll requirements
    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    /// END iscroll requirements
    
    &::before {
	content: '';
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	height: 100%;
	width: $timeline-fade-width;
	background-image: linear-gradient(to right, white, rgba(248, 248, 248, 0));
    }

    &::after {
	content: '';
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	height: 100%;
	width: $timeline-fade-width;
	background-image: linear-gradient(to left, white, rgba(248, 248, 248, 0));
    }

}

.timeline {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    position: absolute;

    //// iscroll requirements
    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* Put the scroller into the HW Compositing layer right from the start */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    //// END iscroll requirements


    .timeline-divider > * {
	padding-top: $timeline-top-padding - ($timeline-dot-size / 2 / $timeline-font-dot-ratio);
	font-size: $timeline-font-dot-ratio * $timeline-dot-size;
	color: $gray-600;
    }

    .timeline-end {
	@include timeline-line();
	min-width: $timeline-end-width;
    }

    .timeline-element {
	display:inline-flex;
	vertical-align:top;
	padding: 0;
	text-align:center;
	position:relative;
	justify-content: center;
    }

    .timeline-content {
	min-width:150px;
	max-width:300px;

	.timeline-link {
	    height: 100%;
	    padding-top: $timeline-top-padding + $timeline-distance;
	    z-index: 2;
	    color: $navbar-light-color;

	    &::after {
		content: '';
		position: absolute;
		top: $timeline-top-padding ;
		left: 50%;
		margin-left: - $timeline-dot-size / 2;
		height: $timeline-dot-size;
		width: $timeline-dot-size;
		border-radius: 50%;
		border: 2px solid $gray-500;
		background-color: $gray-200;
		display: inline-block;
		z-index: 1;
	    }

	    &:hover {
		color: $navbar-light-hover-color;
		text-decoration: none;

		&::after {
		    background-color: $raspberry;
		    border-color: $raspberry;
		}
		    
	    }
	    
	    &.selected {
		pointer-events: none;
		color: $navbar-light-active-color;

		&::after {
		    background-color: $raspberry;
		    border-color: $raspberry;
		}
	    }	
	    
	}

	@include timeline-line();

    }
}
