$tile-padding: 10px;

.partner-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    margin: auto;
}

.partner-tile {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-collapse: collapse;
    position: relative;
    
    .bloatfish {
	width: 100%;
    }
}

.partner-image {
    max-width: calc(100% - #{2 * $tile-padding});
    max-height: calc(100% - #{2 * $tile-padding});
    position:absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
