#image-overlay-text-previous-conference {
    position: absolute;
    right: 1em;
    bottom: 1ex;
    font-size: 120%;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    color: black !important;
}
