{% extends "visitorregistration/base.html" %}
{% load l10n i18n staticfiles %}

{% block maincontent %}
<article class="card">
    <div class="card-header">
        <h1>{{ registration }}</h1>
    </div>
    <div class="card-body">
        <div class="card-text">
            
	    
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            
            {% if booking.state == booking_state.new  and booking.contact %}
            <div class="alert alert-warning">
	        <i class="far fa-clock"></i> {% blocktrans with deadline=booking.state_expiration %}This is a preliminary registration. We have sent you an email. Please click on the confirmation link in this email before {{ deadline }}.{% endblocktrans %}<br>
	        <form action="{% url 'visitorregistration:request_confirmation_email' conference.url_snippet booking.id %}" method="POST" target="dummyiframe">
	            {% csrf_token %}
	            <button type="submit" class="btn btn-success"><i class="fas fa-envelope"></i> {% trans "request confirmation email again" %}</button>
	        </form>
	        <iframe style="display:none;" name="dummyiframe" src="about:blank"></iframe>
            </div>
            {% endif %}
            

            <form method="POST" id="ticket-form">
	        {% csrf_token %}
                
	        {{ visitor_formset.management_form }}
                
                
	        {% if visitor_formset.non_form_errors %}
	        <div class="alert alert-danger" role="alert">
	            {{ visitor_formset.non_form_errors }}
	        </div>
	        {% endif %}
                
	        {% for visitor in visitor_formset %}
                
	        <div id="vform-{{ forloop.counter }}" class="panel {% if forloop.first %}panel-primary{% else %}panel-default{% endif %}">
	            <div class="panel-heading mb-2">
		        {% trans 'Visitor #' %}{{ forloop.counter }}
	            </div>
	            <div class="panel-body">
		        {% if forloop.first %}<p>{% trans 'This person (most likely yourself) is responsible for this registration.' %}</p>{% endif %}
                        
		        
		        
		        {% if visitor.non_field_errors %}
		        <div class="alert alert-danger" role="alert">
		            {{ visitor.non_field_errors }}
		        </div>
		        {% endif %}
                        
		        
		        <div class="ticket{% if visitor.initial.state == ticket_state.ok %} ticket-ok{% elif visitor.initial.state == ticket_state.canceled %} ticket-canceled{% endif %}">
		            <div class="ticket-overlay">
		                {% if visitor.initial.state == ticket_state.canceled %}
		                <span style="color: #ff0000; font-size:150%; font-weight: bold;">{% trans 'CANCELED' %}</span>
		                {% elif visitor.initial.state == ticket_state.waiting %}
		                <span style="color: #ff0000; font-size:150%; font-weight: bold;">{% trans 'WAITING LIST' %}</span>
		                {% elif visitor.initial.state == ticket_state.pending_waiting %}
		                <span style="color: #ff0000; font-size:150%; font-weight: bold;">{% trans 'WAITING LIST' %}</span>
		                {% elif visitor.initial.state == ticket_state.unconfirmed %}
		                <span style="color: #0000ff; font-size:150%; font-weight: bold;">{% trans 'RESERVED' %}</span>
		                {% elif visitor.initial.state == ticket_state.stale %}
		                <span class="label label-danger">{% trans 'ERROR' %}</span>
		                {% elif visitor.initial.state. == ticket_state.new %}
		                <span class="label label-danger">{% trans 'ERROR' %}</span>
				{% endif %}
			    </div>
			    <div class="ticket-line">
				<div class="form-group">
				    <label for="{{ visitor.name.id_for_label }}" class="col-sm-3 col-lg-3 col-form-label">{{ visitor.name.label }}</label>
				    <div class="col-sm-9 col-lg-9">
					<input type="text" class="form-control{% if visitor.name.errors %} is-invalid{% endif %}" id="{{ visitor.name.id_for_label }}" name="{{ visitor.name.html_name }}"{% if visitor.name.value %} value="{{ visitor.name.value }}"{% endif %} placeholder="" >
					{% if visitor.name.errors %}
					<div class="invalid-feedback" style="position:absolute; margin-top:-3px;">
					    {% for error in visitor.name.errors %}
					    {{ error }}
					    {% endfor %}
					</div>
					{% endif %}
				    </div>
				</div>
			    </div>
			    <div class="ticket-line">
				<div class="form-group">
				    <label for="{{ visitor.email.id_for_label }}" class="col-sm-3 col-lg-3 col-form-label">{{ visitor.email.label }}</label>
				    <div class="col-sm-9 col-lg-9">
					<input type="text" class="form-control{% if visitor.email.errors %} is-invalid{% endif %}" id="{{ visitor.email.id_for_label }}" name="{{ visitor.email.html_name }}"{% if visitor.email.value %} value="{{ visitor.email.value }}"{% endif %} placeholder="" >
					{% if visitor.email.errors %}
					<div class="invalid-feedback" style="position:absolute; margin-top:-3px;">
					    {% for error in visitor.email.errors %}
					    {{ error }}
					    {% endfor %}
					</div>
					{% endif %}
				    </div>
				</div>
			    </div>
			    <div class="ticket-right hidden-sm hidden-xs">
				{{ conference.short_name }}
				{% for ticket in visitor.initial.tickets %}<br>{{ ticket.day.day.date }}{% endfor %}
			    </div>
			</div>
			
			{% if visitor.initial.state_expiration and not visitor.id.value %}
			<div class="alert alert-warning">
			    <i class="far fa-clock"></i> {% trans 'This is a preliminary ticket. Please fill out all fields above. Time left:' %} <span id="ctn-{{ forloop.counter }}">{{ visitor.initial.state_expiration_delta_minutes }}</span> min.
			</div>
			<script>
			 $('#ctn-{{ forloop.counter }}').countdown({{ visitor.initial.state_expiration|date:'U' }}*1000, function(event) {$(this).html(event.strftime('%-M'));})
			</script>
			{% endif %}

			<div style="display: flow-root;">
                          <div class="btn-group" data-toggle="buttons" style="float: left;">
                            <label class="btn btn-default">
			    {{ visitor.subscribe_to_newsletter }} <i class="far fa-newspaper"></i> {% trans 'subscribe to newsletter' %}
			    </label>
                          </div>
			    
			    
			    <div class="btn-group" data-toggle="buttons" style="float: right;">
				
				<label class="btn btn-warning {% if visitor.initial.state != ticket_state.canceled %}cancelbutton{% else %}uncancelbutton{% endif %}{% if visitor.toggle_cancel.value %} active{% endif %}">
				    {{ visitor.toggle_cancel }}{% if visitor.initial.state != ticket_state.canceled %}<i class="fas fa-user-times"></i> {% trans 'cancel this ticket' %}{% else %}<i class="fas fa-user-plus"></i> {% trans 'un-cancel this ticket' %}{% endif %}
				</label>

			    </div>
			</div>
		    </div>
	        </div>
	        {{ visitor.id }}
	        {{ visitor.ticket_ids }}
	        
	        
                <hr>
	        {% endfor %}

	        <p class="text-muted"><small>{% blocktrans %}The organizers reserve the right to cancel
	            this event without liability.{% endblocktrans %}</small></p>

	        <button class="btn btn-primary" type="submit" name="action" value="save"><i class="fas fa-check"></i> {% trans 'send' %}</button>
	        <button class="btn btn-default" type="submit" name="action" value="add"><i class="fas fa-user-plus"></i> {% trans 'add one visitor' %}</button>
            </form>
            
	</div>
    </div>
</article>
{% endblock %}
