{% extends "visitorregistration/base.html" %}
{% load l10n i18n staticfiles %}

{% block maincontent %}

<article class="card">
    <div class="card-header">
        <h1>{{ registration }}</h1>
    </div>
    <div class="card-body">
        <div class="card-text">

          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
          
          <p>{% trans 'We have just sent you an email which includes further instructions. Please check your inbox!' %}</p>
          
	</div>
    </div>
</article>

{% endblock %}
