{% extends "visitorregistration/base.html" %}
{% load l10n i18n markdown_deux_tags staticfiles %}

{% block maincontent %}

<article class="card">
    <div class="card-header">
        <h1>{{ registration }}</h1>
    </div>
    <div class="card-body">
        <div class="card-text">
            
	    <p>{{ registration.show_registration_text|markdown:"trusted" }}</p>


	    {% if booking.state == booking_state.new %}
	    <div class="alert alert-warning">
		<i class="far fa-clock"></i> {% blocktrans with deadline=booking.state_expiration %}This is a preliminary registration. We have sent you an email. Please click on the confirmation link in this email before {{ deadline }}.{% endblocktrans %}<br>
		<form action="{% url 'visitorregistration:request_confirmation_email' conference.url_snippet booking.id %}" method="POST" target="dummyiframe">
		    {% csrf_token %}
		    <button type="submit" class="btn btn-success"><i class="fas fa-envelope"></i> {% trans "request confirmation email again" %}</button>
		</form>
		<iframe style="display:none;" name="dummyiframe" src="about:blank"></iframe>
	    </div>
            {% endif %}

            {% if can_confirm_tickets %}
            <div class="alert alert-warning">
	        {% trans "Some of your tickets have been released from the waiting list." %}<br>
	        <form method="POST" action="{% url 'visitorregistration:confirm_tickets' conference.url_snippet booking.id %}">{% csrf_token %}<button class="btn btn-success" type="submit">{% trans "Claim these tickets" %}</button></form>
            </div>
            {% endif %}

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}




            {% for visitor in visitorview %}

            <div class="ticket{% if visitor.state == ticket_state.ok %} ticket-ok{% elif visitor.state == ticket_state.canceled %} ticket-canceled{% endif %}">
	        <div class="ticket-overlay">
		    {% if visitor.state == ticket_state.canceled %}
		    <span style="color: #ff0000; font-size:150%; font-weight: bold;">{% trans 'CANCELED' %}</span>
		    {% elif visitor.state == ticket_state.waiting %}
		    <span style="color: #ff0000; font-size:150%; font-weight: bold;">{% trans 'WAITING LIST' %}</span>
		    {% elif visitor.state == ticket_state.pending_waiting %}
		    <span style="color: #ff0000; font-size:150%; font-weight: bold;">{% trans 'WAITING LIST' %}</span>
		    {% elif visitor.state == ticket_state.unconfirmed %}
		    <span style="color: #0000ff; font-size:150%; font-weight: bold;">{% trans 'RESERVED' %}</span>
		    {% elif visitor.state == ticket_state.stale %}
		    {# this state should be cleaned out before this page is displayed #}
		    <span class="label label-danger">{% trans 'ERROR' %}</span>
		    {% elif visitor.state. == ticket_state.new %}
		    {# this state should be cleaned out before this page is displayed #}
		    <span class="label label-danger">{% trans 'ERROR' %}</span>
		    {% endif %}
	        </div>
	        {% if visitor.id %}
	        <div class="ticket-line">
		    <i class="fas fa-user"></i> <b>{{ visitor.name }}</b>
	        </div>
	        <div class="ticket-line">
		    <i class="fas fa-envelope"></i> {{ visitor.email }}
	        </div>
	        {% else %}
	        <div class="ticket-line">
	            <a href="{% url 'visitorregistration:edit' conference.url_snippet booking.id %}#vform-{{ forloop.counter }}"><i class="fas fa-question"></i> <b>Anonymous</b></a>
	        </div>
	        <div class="ticket-line">
		    <i class="far fa-clock"></i> {% trans 'This is a preliminary ticket. Please assign a name and an email address to this ticket. Time left:' %} <span id="ctn-{{ forloop.counter }}">{{ visitor.state_expiration_delta_minutes }}</span> min.
		    <script>
		     $('#ctn-{{ forloop.counter }}').countdown({{ visitor.state_expiration|date:'U' }}*1000, function(event) {$(this).html(event.strftime('%-M'));})
		    </script>
	        </div>
	        {% endif %}		  
	        <div class="ticket-right">
		    {{ conference.short_name }}
		    {% for ticket in visitor.tickets %}<br>{{ ticket.day.day.date }}{% endfor %}
	        </div>
            </div>

            {% endfor %}

            <p>
                <a class="btn btn-primary" href="{% url 'visitorregistration:edit' conference.url_snippet booking.id %}"><i class="fas fa-pencil-alt"></i> {% trans "edit registration" %}</a>
            </p>
	</div>
    </div>
</article>

{% endblock %}
