{% extends "visitorregistration/base.html" %}
{% load l10n i18n humanize staticfiles markdown_deux_tags %}

{% block title %}{{ FROSCH_NAME }}{% endblock %}

{% block maincontent %}
<!-- main registration card -->
<article class="card">
    <div class="card-header">
        <h1>{{ registration }}</h1>
    </div>
    <div class="card-body">
        <div class="card-text">
	    {% for message in messages %}
	    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
	    {% endfor %}

	    <p>{{ registration.welcome_text|markdown:"trusted" }}</p>
	    
	    {% if remaining <= registration.show_remaining_capacity_limit %}
	    <div class="alert alert-{% if remaining < choices|length %}warning{% else %}info{% endif %}"><i class="fas fa-ticket-alt"></i> {% trans "Tickets left:" %} {{ remaining }}

	        {% if remaining == 0 %}
	        <br><i class="fas fa-exclamation-triangle"></i>
	        {% trans 'Note that there are no tickets left. If you register, you will be put on the waiting list.' %}
	        {% elif remaining < choices|length  %}
	        <br><i class="fas fa-exclamation-triangle"></i>
	        {% blocktrans with remaining_t=remaining|apnumber count remaining_c=remaining %}Note that there is only one ticket left. If you choose to register more than one visitor, some visitors may be put on the waiting list.{% plural %}Note that there are only {{ remaining_t }} tickets left. If you choose to register more than {{ remaining_t }} visitors, some visitors may be put on the waiting list.{% endblocktrans %}
	        {% endif %}
	    </div>
	    {% endif %}
	    
	    <p>
	        {% trans 'Please choose the number of tickets:' %}

	        <form id="ticket-form" method="POST" action="{% url 'visitorregistration:create' conference_id=conference.url_snippet %}">
		    {% csrf_token %}
		    {% for choice in choices %}
		    <input type="submit" class="btn {% if choice > remaining %}btn-warning{% else %}btn-primary{% endif %}" name="quantity" value="{{ choice }}">
		    {% endfor %}
	        </form>
	    </p>
        </div>
    </div>
</article>


<!-- group registration -->
<article class="card mt-3">
    <h3 class="card-header">{% trans "Group Registrations" %}</h3>
    <div class="card-body">
	<p class="card-text">
	    {% url 'core:contact' as contact_url %}
            {% blocktrans with contact_url=contact_url %}Please <a href="{{ contact_url }}">contact us</a> if you want to attend with a larger group.{% endblocktrans %}
        </p>
    </div>
</article>

<!-- view/change -->
<article class="card mt-3">
    <h3 class="card-header"><i class="fas fa-pencil-alt"></i> {% trans 'View or Change Registration' %}</h3>
    <div class="card-body">
	<p class="card-text">        
	    {% trans 'You can access your registration by clicking on the link in the confirmation email. If you cannot find this email, please enter your email address below.' %}

	    <form class="form-inline" method="POST" action="{% url 'visitorregistration:request_email' conference_id=conference.url_snippet %}">
		{% csrf_token %}
		<div class="form-group">
		    <label for="emailInput" class="">{% trans 'Email address' %}</label>
		    <input type="email" name="email" class="mx-sm-3 form-control" id="emailInput" placeholder="{% trans 'email address' %}">
		    <button type="submit" class="btn btn-primary">{% trans "request access to registration" %}</button>
		</div>
		
	    </form>

	</p>
    </div>
</article>
{% endblock %}
