{% extends "visitorregistration/base.html" %}
{% load l10n i18n markdown_deux_tags staticfiles %}

{% block title %}{{ FROSCH_NAME }}{% endblock %}


{% block maincontent %}

<article class="card">
    <div class="card-header">
        <h1>{{ registration }}</h1>
    </div>
    <div class="card-body">
        <div class="card-text">

          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
          
          <p>
            {% if registration.wait_for_email_text %}
            {{ registration.wait_for_email_text|markdown:"trusted" }}
            {% else %}
            {% trans 'You are almost done! We have just sent you an email which includes the instructions for the final step. Please check your inbox!' %}
            {% endif %}
          </p>
          
	</div>
    </div>
</article>

{% endblock %}
