{% load staticfiles %}

<div id="archive-timeline-wrapper" class="timeline-wrapper">
<ol class="timeline timeline-nojs">
    <li class="timeline-element timeline-end"></li>
    {% for archived_conference in archived_conferences %}
    {% ifchanged %}
    <li class="timeline-element timeline-divider"><div>{{ archived_conference.public_start|date:"Y" }}</div></li>
    {% endifchanged %}
    <li class="timeline-element timeline-content"><a href="{% url 'core_conference:conference' archived_conference.url_snippet %}" class="timeline-link {% if conference == archived_conference %}selected{% endif %}"><div>{{ archived_conference.short_name }}<br>{{ archived_conference.venue.name }}</div></a></li>
    {% endfor %}
    <li class="timeline-element timeline-end"></li>
</ol>
</div>

<script>
 $(document).ready(function() {
     
     var archiveTimelineScroll = new IScroll('#archive-timeline-wrapper', {
	 scrollbars: 'custom',
	 scrollX: true,
	 scrollY: false,
         mouseWheel: true,
	 click: true,
	 interactiveScrollbars: true,
	 disablePointer: true,
	 disableTouch: false,
	 disableMouse: false,
     });
     archiveTimelineScroll.scrollToElement('.selected', 100, true);

     // do we need this?
     document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

 });
 
</script>
<noscript>
    <style>
     .timeline {
	 overflow-x: scroll;
	 position: relative !important;
	 }
    </style>
</noscript>
