{% load i18n startswith %}

<ul class="navbar-nav">
    {% url 'core_conference:conference' conference.url_snippet as href %}
    <li class="nav-item {% if request.get_full_path == href %}active{% endif %}">
	<a class="nav-link" href="{{ href }}">{% trans 'Overview' %}</a>
    </li>
    {% if conference.visitor_registration and conference.visitor_registration.is_active %}
    {% url 'visitorregistration:start' conference.url_snippet as href %}
    <li class="nav-item {% if request.get_full_path|startswith:href %}active{% endif %}">
	<a class="nav-link" href="{{ href }}">{% trans 'Registration' %}</a>
    </li>
    {% endif %}
    {% if conference.eventsettings and conference.eventsettings.is_public %}
    {% url 'call:index' conference.url_snippet as href %}
    <li class="nav-item {% if request.get_full_path|startswith:href %}active{% endif %}">
	<a class="nav-link" href="{{ href }}">{% trans 'Call for Contributions' %}</a>
    </li>
    {% endif %}
    {% if conference.conferencestaffsettings and conference.conferencestaffsettings.is_public %}
    {% include 'staffregistration/subnav.html' %}
    {% endif %}
    {% for pagemount in conference.pagemount_set.all %}
	    <li class="nav-item {% if request.resolver_match.url_name == 'conference_page' and request.resolver_match.namespaces.0 == 'page' and request.resolver_match.kwargs.pagemount_slug == pagemount.slug %}active{% endif %}">
	        <a class="nav-link" href="{% url 'page:conference_page' conference.url_snippet pagemount.slug %}">{{ pagemount.title }}</a>
	    </li>
    {% endfor %}
</ul>
