{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "400 - Bad Request" %}{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
  <div id="content">
    
    <h2>{% trans "400 - Bad Request" %}</h2> 
    {% blocktrans %}<p>Oops!</p>{% endblocktrans %}
  </div>
</div>

{% endblock %}
