{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "403 - Permission Denied" %}{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
  <div id="content">
    
    <h2>{% trans "403 - Permission Denied" %}</h2> 
    {% blocktrans %}<p>You are not allowed to view this page.</p>{% endblocktrans %}
  </div>
</div>

{% endblock %}
