{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "404 - Page Not Found" %}{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
  <div id="content">
    
    <h2>{% trans "404 - Page Not Found" %}</h2> 
    {% blocktrans %}<p>We couldn't find the page you are looking for.</p>{% endblocktrans %}
  </div>
</div>

{% endblock %}
