{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "500 - Server Error" %}{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
  <div id="content">
    
    <h2>{% trans "500 - Server Error" %}</h2> 
    {% blocktrans %}<p>Something went wrong. Our technical staff has been notified and will take a look at this issue soon.</p>{% endblocktrans %}
  </div>
</div>

{% endblock %}
