{% load i18n staticfiles bootstrap4 hijack_tags thumbnail cache translate_url compress %}

{% get_available_languages as LANGS %}
{% get_current_language as LANG %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="theme-color" content="#bd1f48">
        <link rel="icon" sizes="192x192" href="{% static 'images/website-logo.png' %}">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Meta Data -->
	<meta name="description" content="Der erste und größte deutsche Raspberry Jam! Bei Pi and More treffen sich Einsteiger und Experten in lockerer Atmosphäre zu Vorträgen, Workshops und Projekten rund um den Raspberry Pi und andere kleine Computer. " />
	<meta name="keywords" content="raspberry pi treffen, trier, rheinland-pfalz, raspberry jam deutschland, embedded systems, internet of things, banana pi, arduino, beaglebone" />

	<!-- Other Languages -->
	{% for code, name in LANGS %}
	{% if code != LANG %}
	<link rel="alternate" href="{% translate_url code %}" hreflang="{{ code }}" />
	{% endif %}
	{% endfor %}

	<!-- Open Graph Meta Data -->
	<meta property="og:site_name" content="{{ FROSCH_NAME }}">
	<meta property="og:title" content="{% block og_title %}{{ FROSCH_NAME }}{% endblock %}">
	<meta property="og:image" content="{% block og_image %}{% static 'images/piandmore.png' %}{% endblock %}">
	<meta property="og:url" content="{{ FROSCH_BASE_URL }}{{ request.path }}">
	<meta property="og:type" content="website" />
	
        <!-- jQuery and js -->
	<script src="{% static 'jquery/jquery-3.3.1.min.js' %}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="{% static 'jquery.countdown.min.js' %}"></script>
	{% compress css %}
	<link href="{% static 'jquery-spin/stylesheets/jquery.spin.css' %}" rel="stylesheet" type="text/css" />
	{% endcompress %}
	{% compress js %}
	<script src="{% static 'jquery-spin/javascripts/jquery.spin.js' %}" type="text/javascript"></script>
	{% endcompress %}
	
        <!-- Bootstrap -->
	{% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'frosch.scss' %}">
	{% endcompress %}
	{% compress js %}
        <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
	{% endcompress %}
        
        <!-- Fontawesome -->
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">

        <!-- Font: Lato -->
        <link href="{% static 'Lato2OFLWeb/Lato/latofonts.css' %}" rel='stylesheet' type='text/css' crossorigin="anonymous">

	{% if request|is_hijacked %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
	{% endcompress %}
	{% endif %}

	{% compress js %}
        <script src="{% static 'frosch.js' %}"></script>
	{% endcompress %}
	
        {% block extrahead %}{% endblock %}
	
        <title>{% block title %}{{ FROSCH_NAME }}{% endblock %}</title>
    </head>
    
    <body>
        {% hijack_notification %}
        {% if FROSCH_PIWIK_LOCATION %}
        <!-- Piwik JS -->
        <script type="text/javascript">
         var _paq = _paq || [];
         _paq.push(["setCookieDomain", "{{ FROSCH_PIWIK_COOKIE_DOMAIN }}"]);
         _paq.push(['trackPageView']);
         _paq.push(['enableLinkTracking']);
         (function() {
             var u="{{ FROSCH_PIWIK_LOCATION }}";
             _paq.push(['setTrackerUrl', u+'piwik.php']);
             _paq.push(['setSiteId', {{ FROSCH_PIWIK_SITE_ID }}]);
             var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
             g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
         })();
        </script>
        <!-- End Piwik -->
        {% endif %}

        {% block navbar %}{% include 'navbar.html' %}{% endblock %}
        
	{% block content %}This page intentionally left blank. Techniker ist informiert.{% endblock %}

	<nav id="footnav" class="navbar navbar-expand navbar-dark">
	    <ul class="navbar-nav mr-auto">
		{% for pagemount in footerpagemounts %}
		<li class="nav-item {% if request.resolver_match.url_name == 'page' and request.resolver_match.namespaces.0 == 'core' and request.resolver_match.kwargs.pagemount_slug == pagemount.slug %}active{% endif %}">
	            <a class="nav-link" href="{% url 'page:page' pagemount.slug %}">{{ pagemount.title }}</a>
		</li>
		{% endfor %}
	    </ul>
	    <span class="navbar-text ml-auto">
	            <a class="ml-2" href="{% url 'news:feed' %}"><span class="fas fa-lg fa-rss-square"></span></a>
		    <a class="ml-2" href="https://github.com/PiAndMore"><span class="fab fa-lg fa-github"></span></a>
		    <a class="ml-2" href="https://www.youtube.com/user/PiAndMore"><span class="fab fa-lg fa-youtube"></span></a>
		    <a class="ml-2" href="https://twitter.com/PiAndMore"><span class="fab fa-lg fa-twitter-square"></span></a>
		    <a class="ml-2" href="https://facebook.com/PiAndMore"><span class="fab fa-lg fa-facebook-square"></span></a>
	    </span>
	</nav>
        {% block extrafooter %}{% endblock %}
    </body>
</html>
