{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="col-md-6 offset-md-3 pb-5">
    <div id="content">
        <div class="page-contentheader">
	    <h1>{% block dialog_title %}{% endblock %}</h1>
        </div>
        
        {% block dialog %}{% endblock %}
    </div>
</div>
{% endblock %}
