{% load i18n staticfiles bootstrap4 cache translate_url easy_thumbnails_tags %}

{% get_available_languages as LANGS %}
{% get_current_language as LANG %}

<nav id="topnav" class="navbar navbar-dark bg-dark navbar-expand-md {% if subnav %}has-subnav{% else %}mb-3{% endif %}" role="navigation">
    <a class="navbar-brand" href="{% url 'news:index' %}"><img src="{% static 'images/piandmore.png' %}" alt="Pi and More" style="height: 40px" > <span class="navbar-brand-text">Pi and More</span></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> 
	    {% for conference_nav in active_conferences %}
	    <li class="nav-item {% if conference == conference_nav %}active{% endif %}">
	        <a class="nav-link" href="{% url 'core_conference:conference' conference_nav.url_snippet %}">{{ conference_nav.short_name }}</a>
	    </li>
	    {% endfor %}
	    {% url 'core:people' as href_p %}
	    {% url 'core:contributions' as href_c %}

	    <li class="nav-item dropdown  {% if conference in archived_conferences or request.get_full_path == href_p or request.get_full_path == href_c %}active{% endif %}">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {% trans 'Archive' %} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item {% if conference in archived_conferences %}active{% endif %}" href="{% url 'core:archive' %}">{% trans 'Events' %}</a>
                </li>
                <li>
                  <a class="dropdown-item {% if request.get_full_path == href_p %}active{% endif %}" href="{% url 'core:people' %}">{% trans 'People' %}</a>
                </li>
                <li>
                  <a class="dropdown-item {% if request.get_full_path == href_c %}active{% endif %}" href="{% url 'core:contributions' %}">{% trans 'Contributions' %}</a>
                </li>
              </ul>
	    </li>
	    {% for pagemount in pagemounts %}
	    <li class="nav-item {% if request.resolver_match.url_name == 'page' and request.resolver_match.namespaces.0 == 'page' and request.resolver_match.kwargs.pagemount_slug == pagemount.slug %}active{% endif %}">
	        <a class="nav-link" href="{% url 'page:page' pagemount.slug %}">{{ pagemount.title }}</a>
	    </li>
	    {% endfor %}
	</ul>
	<ul class="navbar-nav ml-auto">
	    {% if not user.is_authenticated or not user.is_active %}
	    <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    {% trans "Log In" %}
		</a>
		<div class="dropdown-menu dropdown-menu-right dropdown-login-form">
                    
		    {% url 'accounts:reset-password' as reset_password_url %}
		    <form class="px-4 py-3" action="{% url 'accounts:login' %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ request.path }}" />
			{% bootstrap_form login_form %}
			<button type="submit" class="btn btn-primary">{% trans 'login' %}</button>
		    </form>
		    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">TODO {% trans "Register as a visitor" %}</a>
		    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'accounts:register' %}?next={{ request.path }}">{% trans "Register as a contributor or volunteer" %}</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" href="{{ reset_password_url }}?next={{ request.path }}">{% trans "Forgot password?" %}</a>
		</div>
	    </li>
	    
	    {% else %}

	    <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  {% if not user.image %}
                  <i class="fas fa-user-circle" aria-hidden="true"></i>
                  {% else %}
                  <img src="{% thumbnail user.image 40x40 %}" class="userthumbnail">
                  {% endif %}&nbsp;&nbsp;{{ user }}
		</a>
		<div class="dropdown-menu">
		    {% if user.is_staff %}
		    <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "admin" %}</a>
		    <div class="dropdown-divider"></div>
		    {% endif %}
		    <a class="dropdown-item" href="{% url 'accounts:profile' %}">{% trans "edit profile" %}</a>
		    <a class="dropdown-item" href="{% url 'noconfcall:myeventlist' %}">{% trans "my contributions" %}</a>
		    <a class="dropdown-item" href="{% url 'accounts:logout' %}">{% trans "log out" %}</a>
		</div>
	    </li>
	    {% endif %}
	    <li class="nav-item">
		<a class="nav-link" href="{% url 'core:contact' %}" data-toggle="modal" data-target="#contact">{% trans "Contact" %}</a>
	    </li>
	    {% for code, name in LANGS %}
	    {% if code != LANG %}
	    {% get_language_info for code as l %}
	    <li class="nav-item">

		<form class="form-inline" method="post" action="{% url 'set-lang' %}">
		    {% csrf_token %}
		    <input type="hidden" name="language" value="{{ code }}" />
		    <input type="hidden" name="next" value="{% translate_url code %}" />
		    <button type="submit" class="btn btn-link nav-link" style="border:0;">
			{% static "" as static_base_url %}
		        <img style="margin-top:-3px;" src="{{ static_base_url }}/images/{{ code }}.svg" alt="" height="16">&nbsp;&nbsp;{{ l.name_local }}
		    </button>
		</form>
	    </li>
	    {% endif %}
	    {% endfor %}
	</ul>
    </div>
</nav>

{% if subnav %}
<nav id="subnav" class="navbar navbar-light bg-white navbar-expand-md mb-4" role="navigation">
    <div class="container">
	<div class="col-md-12">
            {% include subnav %}
	</div>
    </div>
</nav>
{% endif %}

<div id="contact" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactDialogLabel">{% trans "Contact" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
		{% include 'core/contact_form.html' with form=contact_form modal=True %}
                
            </div>
            <div class="modal-footer">
                {% if imprint_page_slug %}<a href="{% url 'page:page' imprint_page_slug %}">{% trans 'Imprint' %}</a>{% endif %} <button id="contact-submit" type="button" class="btn btn-primary">{% trans "Submit" %}</button>
                <script>
                 $('#contact-submit').on('click', function() {
                     var data = $('#contact-form').serialize();
                     $.post("{% url 'core:contact' %}", data).done(function() {
                         alert('{% trans "Thanks, we will get back to you as soon as possible!" %}');
                         $('#contact-form textarea').val('');
                         $('#contact').modal('hide');
                     }).fail(function(e) {
                         if (e.status == 400) {
                             alert('{% trans "Please fill all form fields." %}');
                         } else {
                             alert('{% blocktrans with email=contact_default_email %}Error, cannot send message. Please send an email to {{ email }}.{% endblocktrans %}');
                         };
                     });
                 });
                </script>
            </div>
        </div>
    </div>

</div>

{% if conference in archived_conferences %}
{% if not request.resolver_match.url_name == 'conference' or not request.resolver_match.namespaces.0 == 'core_conference' %}
<div class="container">
    <div class="alert alert-warning col-md-12">
	{% trans 'This is an archived sub page.' %} <a href="{% url 'core_conference:conference' conference.url_snippet %}">{% blocktrans with conference_name=conference.short_name %}Please click here to learn more about {{ conference_name }}.{% endblocktrans %}</a>
    </div>
</div>
{% endif %}
{% endif %}
