{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% block jumbotron %}{% endblock %}

<div class="container">
    <div class="row">
	<div class="col-md-12">
	    {% block maincontent %}{% endblock %}
	</div>
    </div>
</div>
{% endblock %}
