{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}

{% block jumbotron %}{% endblock %}

<div class="container-full ml-3 mr-3">
    <div class="row">
	<aside class="col-md-3">
            <div class="container" >
                <img src="{% static 'images/piandmore.png' %}" alt="Pi and More" style="width: 100%;" class="my-3" >
            </div>
	    {% with hide_on_small_devices=True %}
            {% block extracards %}
            {% endblock %}
	    {% block cards %}
            {% include 'cards/what-is-pi-and-more.html' %}
            {% include 'cards/newsletter.html' %}
	    {% endblock %}
	    {% endwith %}
	</aside>
	<div class="col-md-9">
	    {% block maincontent %}{% endblock %}
	</div>
    </div>
</div>
{% endblock %}
