{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}

{% block jumbotron %}{% endblock %}

<div class="container">
    <div class="row">
	<div class="col-md-8">
	    {% block maincontent %}{% endblock %}
	</div>
	<aside class="col-md-4">
            <div class="container" >
                <img src="{% static 'images/piandmore.png' %}" alt="Pi and More" style="width: 100%;" class="my-3" >
            </div>
            {% block extracards %}
            {% endblock %}
	    {% block cards %}
            {% include 'cards/what-is-pi-and-more.html' %}
            {% include 'cards/newsletter.html' %}
	    {% include 'cards/partners.html' %}
	    {% endblock %}
	</aside>
    </div>
</div>
{% endblock %}
