{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify markdown_deux_tags %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <button type="submit">Release Version {{container.get_version}}</button>
</form>

<h1>Overview</h1>
<pre>
{% for sc, changes in changelist.view %}
{{ sc.reference_event_str }}{% for change in changes %}
  * {{ change }}{% endfor %}
Affected persons: {% for p in sc.affected_persons %}{{p}} {% endfor %}
{% endfor %}
</pre>
<hr>
<h1>Notifications sent to Users:</h1>

{% for email in emails %}
<pre style="background-color: #fff; border: 1px solid #999;">
From: {{email.from_email}}
To: {{email.to}}
Subject: {{email.subject}}

{{email.message}}
</pre>
{% endfor %}


{% endblock %}
 
