{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block content %}

<table>
  <tr>
    <td></td>
    {% for a in assets %}
    <th>{{ a }}</th>
    {% endfor %}
    {% for t in tags %}
    <th>{{ t }}</th>
    {% endfor %}
    <th>Anmerkungen</th>
  </tr>

  {% for e in events %}
  {% ifchanged %}
  <tr>
    <th colspan="{{ colcount }}" style="font-size:120%;">
      {{ e.event_type }}
    </th>
  </tr>
  {% endifchanged %}
  <tr>
    <td><a href="{% url 'admin:callforcontributions_event_change' e.id %}">{{ e|truncatechars:30 }}</a><br>{% if e.start_datetime and e.room %}<small>{{ e.start_datetime }} {{ e.room }}</small>{% endif %}</td>
    {% for a in assets %}
    <td>{% if a in e.assets.all %}X{% else %}-{% endif %}</td>
    {% endfor %}
    {% for t in tags %}
    <td>{% if t in e.selected_tags.all %}X{% else %}-{% endif %}</td>
    {% endfor %}
    <td><small>{{ e.notes }}</small></td>
  {% endfor %}
</table>

{% endblock %}
