{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify markdown_deux_tags %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; Event print view
</div>
{% endblock %}
{% endif %}

{% block content %}
<div class="printview">
<h1>Events</h1>
{% for event in events %}
  <h2>{{ event.title }}
    {% if event.subtitle %}<br><span style="font-size: 80%; color: #999;">{{ event.subtitle }}</span>{% endif %}</h2>
  {% if event.has_datetime_schedule %}
  <i>{{event.event_type}}, {{ event.start_datetime|date:"H:i" }} Uhr, {{ event.room }}, {{ event.speaker.all|join:", " }}</i>
  {% endif %}
  <p>{{ event.description|markdown }}</p>
  <hr>
{% endfor %}



<hr>


<style>

</style>
{% endblock %}

</div>
