{% load markdown_deux_tags %}
<!DOCTYPE html>
<html moznomarginboxes>
    <head>
      <meta charset="UTF-8">
     
    </head>
    
    <body>


        {% for event in all_events %}
        {% ifchanged event.event_type.booklet_headline %}
        <p class="type-headline">{{ event.event_type.booklet_headline }}</p>
        {% endifchanged %}
        {% if event.scheduled == event.SS_DT or event.scheduled == event.SS_DTR %}
        {% ifchanged event.start_datetime %}
        <table class="time-headline" width="100%">
            <tr>
                <td width="40%" class="eventline"><hr></td>
                <td class="eventtime" width="20%">{{ event.start_datetime|time:"H:i" }}&nbsp;Uhr
                </td>
                <td width="40%" class="eventline"><hr></td>
            </tr>
        </table>
        {% endifchanged %}
        {% endif %}

        <div class="event">
            <table class="eventheader" width="100%" cellpadding="0">
                <tr>
                    <td class="eventtitle" width="75%">{{ event.title }}</td>
                    {% if event.scheduled == event.SS_DTR %}
                    <td class="eventroom" width="25%"><p class="eventroom">{{ event.room }}</p></td>
                    {% endif %}
                </tr>
            </table>
            {% if event.subtitle %}<div class="eventsubtitle">{{ event.subtitle }}</div>{% endif %}
            <div class="eventspeaker">{{ event.speaker.all|join:", " }}</div>
            
            <div class="eventtext">{{ event.description|markdown }}</div>
        </div>
        {% endfor %}
        
        {% comment %}
	{% for scheduleset in scheduleviewset %}
	<div class="page">
	    <div class="page-header">Programm</div>

	    {% include 'core/mixins/schedule.html' with scheduleset=scheduleset %}
	    
	    <style>
	     {% for schedule in scheduleset.get_days %}
	     #day-{{ schedule.day.id }} .grid {
		 grid-template-columns: 5em repeat({{ schedule.content_columns }}, 1fr) !important;
		 grid-template-rows: 2em repeat({{ schedule.content_rows }}, 1fr) !important;
	     }
	     {% endfor %}
	    </style>

	    <div class="page-footer">{{ conferenceeventsettings.conference.short_name }} version {% if conferenceeventsettings.last_draft_released %}{{ conferenceeventsettings.get_version }}{% else %}DRAFT{% endif %} printed {{ generationtime }}</div>
	</div>
	{% endfor %}
        {% endcomment %}

	<style>

         p {
             margin-bottom: 5px !important;
             margin-top: 5px !important;
         }

         hr {
             border-bottom: 1px solid #999;
         }

         .type-headline {
             page-break-before: always;
             background-color: #111;
             color: #fff;
             padding: 0.2em;
             text-align: center;
             font-size: 200%;
         }
         .time-headline {

         }
         .time-headline td {
             text-align: center;
         }
         .time-headline .eventtime {

         }
         .time-headline .eventline {
             padding-top: 5px;
             font-size: 120%;
         }

         .time-headline span {

             border-radius: 0.5em;
             background-color: #111;
             color: #fff;
             padding: 0.1em 0.5em;
             position: relative;
             top: -0.7em;
         }

         a {
             text-decoration: none;
             color: inherit;
         }

         .event {
             padding-top: 5px;
             padding-bottom: 5px;
         }


         .event .eventheader, .event .eventheader * {
             padding: 0 !important;
         }

         .event .eventtitle {
             margin-top: 0.3em;
             font-size: 120%;
             font-weight: bold;
             padding-left: 0;
         }

         .event .eventroom {
             white-space: nowrap;
             vertical-align: bottom;
         }
         .event .eventroom p {
             
             text-align: right;
             margin: 0;
             padding: 0;
         }
         

         .event .eventsubtitle {
             font-weight: bold;
             color: #555;
             page-break-before: avoid;
             page-break-inside: avoid;
             page-break-after: avoid;
             
         }

         .event .eventspeaker {
             page-break-before: avoid;
             page-break-inside: avoid;
             page-break-after: avoid;
             font-style: italic;
         }
         
         .event .eventtext {
             page-break-before: avoid;
             orphans: 2;
             widows: 2;
         }
         
	 .page-footer {
	     font-size: x-small;
	     margin-top: -1em;
	     text-align: right;
	 }
	 
	 .scheduleable a, .scheduleable a:active, .scheduleable a:hover {
	     color: inherit;
	     text-decoration: none;
	 }
	 .grid-container {
	     height: calc( var(--page-height) - 2 * var(--page-margin) - var(--header-height));
	 }
	 .scheduleable.colspan {
	     opacity: 0.5;
	     overflow: hidden !important;
	 }
	 .scheduleable.colspan .time, .scheduleable.colspan .extrainfo {
	     display: none;
	 }

	 .scheduleable.colspan .title {
	     position: absolute;
	     bottom: 0;
	     text-align: center;
	     width: 100%;
	     font-size: 3em;
	     color: #fff;
	 }
	 
	 html {
             media: print;
             margin: 0;
             padding: 0;
             --crop-mark-width: 1pt;
             --border-width: 1pt;
	 }

	 * {   
             box-sizing: border-box;
	     font-family: Lato;
             border-collapse: collapse;
	 }

	 @page {
             margin: 10mm;
	     height: var(--page-height);
	     width: var(--page-width);
	 }

	 body {
	     margin: 0;
	     padding: 0;
	     border: 0;
	     --page-width: 148.5mm;
	     --page-height: 210mm;
	     --page-margin: 15mm;
	     --header-height: 40mm;
	 }
	 
	</style>


    </body>

    <script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
    <script>(function($) {
	 $.fn.inlineStyler = function(options) {
	     var settings = $.extend({
		 // These are the defaults.
		     // taken from http://templates.mailchimp.com/resources/email-client-css-support
		 'propertyGroups' : {
		     '*' : ['border', 'border-radius', 'box-shadow', 'height', 'margin', 'padding', 'width', 'max-width', 'min-width', 'border-collapse', 'border-spacing', 'caption-side', 'empty-cells', 'table-layout', 'direction', 'font', 'font-family', 'font-style', 'font-variant', 'font-size', 'font-weight', 'letter-spacing', 'line-height', 'text-align', 'text-decoration', 'text-indent', 'text-overflow', 'text-shadow', 'text-transform', 'white-space', 'word-spacing', 'word-wrap', 'vertical-align', 'color', 'background', 'background-color', 'background-image', 'background-position', 'background-repeat', 'Opacity', 'bottom', 'clear', 'clip', 'cursor', 'display', 'float', 'left', 'opacity', 'outline ', 'overflow', 'position', 'resize ', 'right', 'top', 'visibility', 'z-index', 'list-style-image', 'list-style-position', 'list-style-type', 'margin-top', 'margin-bottom', ],
		     'block' : ['margin', 'padding']
		 },
		 // taken from http://www.w3schools.com/tags/default.asp
		 'elementGroups' : {
		     '*' : ['A', 'ABBR', 'ACRONYM', 'ADDRESS', 'APPLET', 'AREA', 'ARTICLE', 'ASIDE', 'AUDIO', 'B', 'BASE', 'BASEFONT', 'BDI', 'BDO', 'BIG', 'BLOCKQUOTE', 'BODY', 'BR', 'BUTTON', 'CANVAS', 'CAPTION', 'CENTER', 'CITE', 'CODE', 'COL', 'COLGROUP', 'COMMAND', 'DATALIST', 'DD', 'DEL', 'DETAILS', 'DFN', 'DIALOG', 'DIR', 'DIV', 'DL', 'DT', 'EM', 'EMBED', 'FIELDSET', 'FIGCAPTION', 'FIGURE', 'FONT', 'FOOTER', 'FORM', 'FRAME', 'FRAMESET', 'H1', 'HEAD', 'HEADER', 'HR', 'HTML', 'I', 'IFRAME', 'IMG', 'INPUT', 'INS', 'KBD', 'KEYGEN', 'LABEL', 'LEGEND', 'LI', 'LINK', 'MAP', 'MARK', 'MENU', 'META', 'METER', 'NAV', 'NOFRAMES', 'NOSCRIPT', 'OBJECT', 'OL', 'OPTGROUP', 'OPTION', 'OUTPUT', 'P', 'PARAM', 'PRE', 'PROGRESS', 'Q', 'RP', 'RT', 'RUBY', 'S', 'SAMP', 'SCRIPT', 'SECTION', 'SELECT', 'SMALL', 'SOURCE', 'SPAN', 'STRIKE', 'STRONG', 'STYLE', 'SUB', 'SUMMARY', 'SUP', 'TABLE', 'TBODY', 'TD', 'TEXTAREA', 'TFOOT', 'TH', 'THEAD', 'TIME', 'TITLE', 'TR', 'TRACK', 'TT', 'U', 'UL', 'VAR', 'VIDEO', 'WBR']
		 }
	     }, options );
	     this.each(function(index, value) {
		 for(var group in settings.elementGroups) { 
		     for(var i=0, len=settings.elementGroups[group].length; i<len; i++) {
			 // search for all these tags
			 var elements = $(this).find(settings.elementGroups[group][i]);
			 elements.each(function(){
			     // get the current style rules
			     if($(this).attr('style')){
				 var styles = $(this).attr('style');
				 var properties = styles.split(';');
			     } else {
				 var properties = [];
			     }
			     // find all the properties in this rule group
			     for(var i=0, len=settings.propertyGroups[group].length; i<len; i++) {
				 var thisProp = settings.propertyGroups[group][i];
				 if($(this).css(thisProp)) {
				     properties.push(thisProp + ':' + $(this).css(thisProp));
				 }
			     }
			     // add them onto the element as an inline style rule
			     $(this).attr('style', properties.join(';'));
			 });
		     }
		 }
	     });
	 };
     }( jQuery ));</script>
      <script type="text/javascript">
	$(document).ready(function() {
	$("body").inlineStyler( );
	});
</script>
</html>

