{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify markdown_deux_tags %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; Event print view
</div>
{% endblock %}
{% endif %}

{% block content %}
<div class="printview">
<h1>Events</h1>
{% for event in events %}
<div class="card">
  <h3 style="float: right;">Event</h3>
  <h2>
    {{ event.title }}
    <small>({{ event.event_type }}{% if event.track %} | {{ event.track }}{% endif %})</small>
    {% if event.subtitle %}<br><small>{{ event.subtitle }}</small>{% endif %}</h2>

  <b>Date/Time: </b>
  {% if event.has_datetime %}
  {{ event.start_datetime }} &ndash; {{ event.end_datetime}}
  {% elif event.has_date %}
  {{ event.day.date }}
  {% else %}
  Not scheduled.
  {% endif %}
  {% if event.length %}
  {{ event.length }}
  {% endif %}
  <b>Room: </b>
  {{ event.room }}
  <b>Speaker(s): </b>
  {{ event.speaker.all|join:", " }}
  <b>Language(s):</b>
  {{ event.languages.all|join:", " }}
  <br>
  {% if event.selected_tags.count %}
  <b>Tags:</b>
  <ul>
    {% for tag in event.selected_tags.all %}
    <li><b>{{ tag.name }}</b> {{ tag.description }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if event.assets.count %}
  <b>Required Assets:</b>
  <ul>
    {% for asset in event.assets.all %}
    <li><b>{{ asset.name }}</b> {{ asset.description }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if event.description %}
  <h3>Description</h3>
  {{ event.description|markdown }}
  {% endif %}
  {% if event.notes %}
  <h3>Submitter Notes</h3>
  {{ event.notes }}
  {% endif %}
  {% if event.internal_notes %}
  <h3>Internal Notes</h3>
  {{ event.internal_notes }}
  {% endif %}
  <h5>Last changed: <small>{{ event.changed }}</small></h5>
</div>
<hr>
{% endfor %}



<hr>


<h1>Speakers</h1>
{% for user in speakers %}
<div class="card">
  <h3 style="float: right;">Person</h3>
  <h2>{{ user }} <small>({{ user.email }})</small></h2>
    <b>Phone:</b> {{ user.phone }}
    {% for day in user.useravailability_set.all %}
      {% if day.not_available %}
        <b>Not available on {{ day.day.date|date:"Y-m-d" }}</b>
      {% else %}
	<b>Available on {{ day.day.date|date:"Y-m-d" }}</b>
	from {{ day.start|date:"H:i" }} until {{ day.end|date:"H:i" }}
      {% endif %}
    {% endfor %}
    {% if user.about %}
    <h3>About</h3>
    {{ user.about|markdown }}
    {% endif %}
    {% if user.notes %}
    <h3>Notes</h3>
    {{ user.notes }}
    {% endif %}
</div>
<hr>
{% endfor %} 
</div>
<style>
.printview h1, .printview h2, .printview h3, .printview h4, .printview h5 {
  margin-left: -10px;
  padding-left: 0px;
}

.card { 
  border: 1px solid #999; 
  padding: 5px; 
  page-break-after: always; 
  page-break-inside: avoid;
  padding-left: 15px;
}

</style>
{% endblock %}

</div>
