{% load markdown_deux_tags %}
<!DOCTYPE html>
<html moznomarginboxes>
    <head>
      <meta charset="UTF-8">
     
    </head>
    
    <body>
	<h1>Staff list, Version {{ conferencestaffsettings.get_version}}, {{ conferencestaffsettings.last_draft_released|date:"SHORT_DATETIME_FORMAT" }}</h1>
	    <div class="stafflist">
	{% for p in all_staff %}
	<div class="staff">
	<b>{{ p.user.username }}</b><br>
	Tel. {{ p.user.phone }}{% if p.notes %}<br><i>{{p.notes}}</i>{% endif %}<br><br>

	</div>
	{% endfor %}
	</div>

        {% for job in all_jobs %}
        {% ifchanged %}
        <p class="type-headline">{{ job.start_datetime|date:"DATE_FORMAT" }}</p>
        {% endifchanged %}

	{% ifchanged %}
	<table class="time-headline" width="100%">
            <tr>
                <td width="40%" class="eventline"><hr></td>
                <td class="eventtime" width="20%">{{ job.job_type.name }}
                </td>
                <td width="40%" class="eventline"><hr></td>
            </tr>
        </table>
	{% endifchanged %}

	<i>{{ job.start_datetime|time:"H:i" }}&ndash;{{ job.end_datetime|time:"H:i" }}&nbsp;Uhr</i> &middot;	<b>{{ job.room }}</b> 	{% if job.event %} &middot; {{job.event}}{% endif %}

	<ul>
	{% for p in job.staff_assigned.all %}
	    <li>{{ p }}</li>
	    {% endfor %}
	</ul>
	{% endfor %}
	<style>

         p {
             margin-bottom: 5px !important;
             margin-top: 5px !important;
         }

         hr {
             border-bottom: 1px solid #999;
         }

	 .stafflist {
	     display: grid;
	     grid-template-columns: 1fr 1fr;
	 }

         .type-headline {
             page-break-before: always;
             background-color: #111;
             color: #fff;
             padding: 0.2em;
             text-align: center;
             font-size: 200%;
         }
         .time-headline {

         }
         .time-headline td {
             text-align: center;
         }
         .time-headline .eventtime {

         }
         .time-headline .eventline {
             padding-top: 5px;
             font-size: 120%;
         }

         .time-headline span {

             border-radius: 0.5em;
             background-color: #111;
             color: #fff;
             padding: 0.1em 0.5em;
             position: relative;
             top: -0.7em;
         }

         a {
             text-decoration: none;
             color: inherit;
         }

         .event {
             padding-top: 5px;
             padding-bottom: 5px;
         }


         .event .eventheader, .event .eventheader * {
             padding: 0 !important;
         }

         .event .eventtitle {
             margin-top: 0.3em;
             font-size: 120%;
             font-weight: bold;
             padding-left: 0;
         }

         .event .eventroom {
             white-space: nowrap;
             vertical-align: bottom;
         }
         .event .eventroom p {
             
             text-align: right;
             margin: 0;
             padding: 0;
         }
         

         .event .eventsubtitle {
             font-weight: bold;
             color: #555;
             page-break-before: avoid;
             page-break-inside: avoid;
             page-break-after: avoid;
             
         }

         .event .eventspeaker {
             page-break-before: avoid;
             page-break-inside: avoid;
             page-break-after: avoid;
             font-style: italic;
         }
         
         .event .eventtext {
             page-break-before: avoid;
             orphans: 2;
             widows: 2;
         }
         	 
	 html {
             media: print;
             margin: 0;
             padding: 0;
             --crop-mark-width: 1pt;
             --border-width: 1pt;
	 }

	 * {   
             box-sizing: border-box;
	     font-family: Lato;
             border-collapse: collapse;
	 }

	 
	</style>

    </body>
</html>
