{% extends "admin/base_site.html" %}
{% load l10n i18n admin_urls admin_static admin_modify %}

{% block content %}
Change job type:
{% for job_type in job_types %}
<a href="{% url url conference.id %}?job_type_id={{ job_type.id }}">
    {% if job_type.id == current_job_type_id %}<strong>{% endif %}
    {{ job_type.name }}
    {% if job_type.id == current_job_type_id %}</strong>{% endif %}
</a>
{% if not forloop.last %} &middot; {% endif %}
{% endfor %}
{% include 'core/mixins/admin-schedule.html' %}
<style>
 /* For more colors, see the pallette that was used: http://paletton.com/palette.php?uid=75g150kllllaFw0g0qFqFg0w0aF 
 .event-status-new { --s-background: #496C89; --s-border: #123552; --s-font: white;}
 .event-status-unconfirmed { --s-background: #D4A86A; --s-border: #805315; }
 */
 .job-normal { --s-background: #9BC362; --s-border: #4D7514; }
 .job-needs-persons, .job-too-many-persons { --s-background: #B35982; --s-border: #6B123A; }
 .scheduleable button {
     margin: 0;
     padding: 2px;
     border-width: 1px;
 }
</style>
<script>
 function addremove_user(action, job_id, user_id) {
     var csrftoken = $('[name=csrfmiddlewaretoken]').val();
     $.post('{% url 'admin:staffregistration_addremove_user' %}', {
         'job_id': job_id,
         'user_id': user_id,
         'action': action,
	 'csrfmiddlewaretoken': csrftoken,
     }).then(function() {
         window.location.reload();
     });
 }
</script>
{% endblock %}
