{% load admin_urls %}
<div
    class="scheduleable {{ s.get_css_classes }} {% if s.column_span > 1 %}colspan{% endif %}"
    id="scheduleable-event-{{ s.stable_id }}"
    data-id="{{s.stable_id}}"
    data-model="job"
    style="grid-column: {{ s.column|add:2 }}/span {{ s.column_span }}; grid-row: {{ s.row|add:1 }}/span {{ s.length_ }};"
    data-length="{{ s.length_ }}"
    {% if s.column_span > 1 %}data-locked="locked"{% endif %}
    >
    {% if schedule_grid_description_html %}
    {{ schedule_grid_description_html }}
    {% else %}
    <span class="time">{{ s.start_datetime|time:"H:i" }}</span>
    <span class="extrainfo">{{ s.get_type }}</span>
    <div class="title" ><a href="#event-{{s.stable_id}}">{{ s }}</a></div>
    <div class="subtitle" >{{ s.subtitle|default:"" }}</div>
    {% if not s.hide_speakers %}
    <div class="persons">{{ s.get_persons_required.all|join:", " }}</div>
    {% endif %}
{% endif %}
</div>
