{% load markdown_deux_tags i18n %}
</div>

<p>
  {% if conferenceeventsettings.last_draft_released %}
  {% trans "Version" %}: {{ conferenceeventsettings.get_version}} ({% trans "Released" %}: {{ conferenceeventsettings.last_draft_released }})
  {% endif %}
</p>
  
{% include "callforcontributions/schedule-dump/schedule-grid.html" %}

<h2 id="vortraege">{% trans "Talks and Workshops" %}</h2>
{% for e in events_schedule.all %}
<div class="eventblock {% if e.status == eventstatus.CANCELED %}canceled{% endif %} event-type-{{ e.event_type.id }}" id="event-{{e.stable_id}}">
    <p class="eventtime">{{ e.event_type.name }}{% if e.track %} ({{ e.track }}){% endif %}: {{ e.start_datetime|time:"H:i" }}{% trans "h"%} &ndash; {{ e.end_datetime|time:"H:i" }}{% trans "h"%}, {{ e.room }}</p>
    <h4 class="eventtitle">{{ e.title }}{% if e.subtitle %}<br><small>{{ e.subtitle }}</small>{% endif %}</h4>
    {% if e.status == eventstatus.CANCELED %}<h4 class="eventcancelation">{% trans "This event had to be canceled unfortunately." %}</h4>{% endif %}
  {% if e.teaser_image %}
    <img src="data:image/png;base64,{{ e.get_teaser_image_as_base64 }}" class="eventimage" alt="">
  {% endif %}
  {{ e.description|markdown }}
  {% if e.speaker.all|length and not e.hide_speakers %}
  <p>{%trans "By" %} {% for s in e.speaker.all %}
    {% if s.about %}<a href="#speaker-{{s.id}}">{{ s.username }}</a>{% else %}{{ s.username }}{% endif %}{% if s.affiliation %} ({{ s.affiliation }}){% endif %}{% if forloop.revcounter > 1 %}{% if forloop.revcounter > 2 %},{% else %} {% trans "and" %} {% endif %}{% endif %}
    {% endfor %}</p>
  {% endif %}
  {% if e.link_set.all or e.media_set.all %}
  <h5>{% trans "More information"%}:</h5>
  <ul>
    {% for link in e.link_set.all %}
    <li><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></li>
    {% endfor %}
    {% for media in e.media_set.all %}
    <li><a href="https://frosch.piandmore.de/{% url "call:public-media" conferenceeventsettings.conference.url_snippet media.file.name %}" target="_blank">{% if media.name %}{{ media.name }}{% else %}Download{% endif %}</a>{% if media.name %} (Download){% endif %}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endfor %}

<h2 id="projekte">{% trans "Projects" %}</h2>
{% for e in events_allday.all %}
<div class="eventblock {% if e.status == eventstatus.CANCELED %}canceled{% endif %}  event-type-{{ e.event_type.id }}" id="event-{{e.stable_id}}">
  <h4 class="eventtitle">{{ e.title }}{% if e.subtitle %}<br><small>{{ e.subtitle }}</small>{% endif %}</h4>
    {% if e.status == eventstatus.CANCELED %}<h4 class="eventcancelation">{% trans "This event had to be canceled unfortunately." %}</h4>{% endif %}
  {% if e.teaser_image %}
    <img src="data:image/png;base64,{{ e.get_teaser_image_as_base64 }}" class="eventimage" alt="">
  {% endif %}
  {{ e.description|markdown }}
  {% if e.speaker.all|length and not e.hide_speakers %}
  <p>{% trans "By"%} {% for s in e.speaker.all %}
    {% if s.about %}<a href="#speaker-{{s.id}}">{{ s.username }}</a>{% else %}{{ s.username }}{% endif %}{% if s.affiliation %} ({{ s.affiliation }}){% endif %}{% if forloop.revcounter > 1 %}{% if forloop.revcounter > 2 %},{% else %} {% trans "and" %} {% endif %}{% endif %}
    {% endfor %}</p>
  {% endif %}
  {% if e.link_set.all %}
  <h5>{% trans "More information" %}:</h5>
  <ul>
    {% for link in e.link_set.all %}
    <li><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endfor %}

<h2>{% trans "Contributors" %}</h2>

{% for s in speakers %}
  {% if s.about %}
    <h4 class="speakertitle" id="speaker-{{ s.id }}">{{ s.username }}
      {% if s.affiliation %}<br><small>{{ s.affiliation }}</small>{% endif %}
      {% if s.twitter %}<br><small><a href="https://twitter.com/{{ s.twitter }}">@{{ s.twitter }}</a></small>{% endif %}</h4>
    {{ s.about|markdown }}
  {% endif %}
{% endfor %}

    <style>
      .eventcancelation {
      border-bottom: 0 !important;
      color: red;
      margin-top: 0 !important;
      }
      .canceled .eventtitle {
      text-decoration: line-through;
      }
      </style>
    
<div>
