{% load admin_urls i18n staticfiles %}


<div class="object-tools">
    <li>
        {% url scheduleset.active_layer.meta|admin_urlname:'add' as add_url %}
        <a href="#" data-link="{{ add_url }}?_popup=1&conference={{ conference.id }}&job_type={{ current_job_type_id }}" class="addlink">
            {% blocktrans with scheduleset.active_layer.meta.verbose_name as name %}Add {{ name }}{% endblocktrans %}
        </a>        
    </li>
</div>        


{% include 'core/mixins/schedule.html' with editable=True %}

<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
