{% load i18n markdown_deux_tags %}

{% for day, scheduleview, events_notime in scheduleviewsets %}
<div id="schedule-{{ day.id }}" class="card-img public-schedule">
    {% if events_notime.all %}
    <div class="card-body">
	<h3>{% trans "Project exhibition" %}</h3>
        {% for s in events_notime.all %}
        <h5><a href="{% url 'core_conference:conference_public_event' s.conference.url_snippet s.stable_id %}" class="eventlink">{{ s.title }}</a> {% if s.subtitle %}<small class="text-muted">{{ s.subtitle }}</small>{% endif %}</h5>
        {% endfor %}
    </div>
    <hr>
    <div class="card-body">
	
	<h3>{% trans "Talks and Workshops" %}</h3>
    </div>
    {% endif %}
    <div style="position:relative; width:100%;">
        <div class="schedule-scroll-horiz" id="shs">
	    {% include 'core/mixins/schedule.html' with scheduleset=scheduleview skipheadline=True showdatescheduled=True %}
        </div>
    </div>
    <!--   <a class="btn btn-primary horiz-scroll-indicator" href="#">{% trans "Drag to see more" %} &raquo;</a>  --> 
    <p class="card-text" >
	<!-- version -->
	{% if conferenceeventsettings.last_draft_released %}
	{% trans "Version" %}: {{ conferenceeventsettings.get_version}} ({% trans "Released" %}: {{ conferenceeventsettings.last_draft_released }})
	{% endif %}
    </p>
</div>
{% endfor %}

<script>
 var scroll;
 function initScroll() {
     console.debug("scroll started");
     scroll = new IScroll('#shs', {
	 scrollX: true,
	 click: true,
	 disablePointer: true,
	 disableTouch: false,
	 disableMouse: false,
     });
     scroll.on('beforeScrollStart', function() {
         $('.horiz-scroll-indicator').hide();
     });
     $('.horiz-scroll-indicator').on('click', function () {
         scroll.scrollToElement('.grid-background :last-child', 50, true);
         $('.horiz-scroll-indicator').hide();            
         return false;
     });
     if ($('#shs').children(0).width() <= $('#shs').width()) {
         $('.horiz-scroll-indicator').hide();     
     }
 }
 $(document).ready(function() {
     initScroll();
     document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
 });
 

</script>
