{% load admin_urls i18n %}

{% if scheduleset.editable %}


<div class="object-tools">
    <li>
        {% url scheduleset.active_layer.meta|admin_urlname:'add' as add_url %}
        <a href="#" data-link="{{ add_url }}?_popup=1" class="addlink">
            {% blocktrans with scheduleset.active_layer.meta.verbose_name as name %}Add {{ name }}{% endblocktrans %}
        </a>        
    </li>
</div>        


<h3>Unused items</h3>
<div id="unused">
    {% for s in scheduleset.get_unused_active_scheduleables %}
    {% include scheduleset.active_layer.template with s=s editable=scheduleset.editable %}
    {% endfor %}
</div>
{% endif %}

{% if not_scheduleable.count %}
<h3>Unscheduleable (no length defined)</h3>
<ul>
    {% for s in not_scheduleable %}
    <li class="not-scheduleable"><a data-link="{% url s.get_meta|admin_urlname:'change' s.id %}?_popup=1" href="#">{{ s }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% for schedule in scheduleset.get_days %}
{% if scheduleset.get_days|length > 0 %}
{% if not skipheadline %}
<h3>{{ schedule.day }}</h3>
{% endif %}
{% endif %}

<div id="day-{{ schedule.day.id }}"
     class="grid-container"
     data-rows="{{ schedule.content_rows }}"
     data-columns="{{ schedule.content_columns }}">

    <!-- Time markers -->
    <div class="grid grid-times">
	{% for time in schedule.get_time_markers %}
	{% if time.row == 1 %}
	<!-- time marker in first row -->
	<div
	    class="time-marker offset"
	    style="grid-column: 1/span 1; grid-row: {{ time.row|add:1 }}/span 1">
	    {{ time.time|time:"H:i" }}➚
	</div>
	{% elif time.row|add:-1 == schedule.content_rows %}
	<!-- time marker in last row -->
	<div
	    class="time-marker offset"
	    style="grid-column: 1/span 1; grid-row: {{ time.row }}/span 1">
	    {{ time.time|time:"H:i" }}➘
	</div>
	{% else %}
	<!-- time marker and line -->
	<div class="time-line" style="grid-column: 2/span {{ schedule.content_columns }}; grid-row: {{ time.row|add:1 }}/span 1;"></div>
	<div
	    class="time-marker"
	    style="grid-column: 1/span 1; grid-row: {{ time.row|add:1 }}/span 1">
	    {{ time.time|time:"H:i" }}➙
	</div>
	{% endif %}
	{% endfor %}
    </div>

    <!-- Divs for background -->
    <div class="grid grid-background">
	<!-- Empty span for top left corner -->
	<span class="topleft-placeholder"></span>
	<!-- Room spans -->
	{% for room in schedule.rooms %}<span class="room" >{{ room }}</span>{% endfor %}
        
	<span class="timecolumn-placeholder" style="grid-area: 2/1/span {{ schedule.content_rows|add:1 }}/span 1;">
	</span>
        
	<!-- Default divs: -->
	{% for elem in schedule.get_background_elements %}<div></div>{% endfor %}
    </div>

    {% for layer, objects in schedule.get_passive_scheduleables %}
    <!-- Foreground grid with scheduleables -->
    <div class="grid grid-foreground-passive" >
	{% for s in objects %}
        {% include layer.template with s=s editable=False %}
	{% endfor %}
    </div>
    {% endfor %}
    
    <!-- Foreground grid with scheduleables -->
    <div class="grid grid-foreground-active" >
	{% for s in schedule.get_active_scheduleables %}
        {% include scheduleset.active_layer.template with s=s editable=scheduleset.editable %}
	{% endfor %}
    </div>
    
    {% if scheduleset.editable %}
    <!-- Conflict grid -->
    <div class="grid grid-conflicts" >
        {% if forloop.counter == 1 %}
        {% for s in scheduleset.get_unused_active_scheduleables %}
        {% include 'core/mixins/schedule-conflict.html' with s=s model=scheduleset.active_layer.meta.model_name%}
        {% endfor %}
        {% endif %}
        
	{% for s in schedule.get_active_scheduleables %}
        {% include 'core/mixins/schedule-conflict.html' with s=s model=scheduleset.active_layer.meta.model_name%}
	{% endfor %}
    </div>
    {% endif %}
    
</div>
{% endfor %}

{% if scheduleset.editable %}
{% csrf_token %}
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script>
 var opened_window = null;
 var dragdropstartx;
 var dragdropstarty;
 var dragcopy;
 
 function updateConflictsFromArray(ar) {
     $.each(ar, function (id, conflicttypes) {
         id = 'scheduleable-{{ scheduleset.active_layer.meta.model_name }}-' + id;
	 var elem = $('#' + id + '-conflicts');
	 // attach the conflict element to the correct container
	 if ($('#unused #'+id).length) {
	     return; // this means that the scheduleable is in the "unused" section - we will never have any conflicts with these elements
	 }
	 if ($('#' + id).length == 0) {
	     return;
	 }
	 var container = $('#' + id).get(0).parentNode.parentNode;
	 $(container).find('.grid-conflicts').append(elem);
	 var hasConflicts = false;
	 $.each(conflicttypes, function(type, conflicting) {
	     var label = elem.find('i.conflict-'+type);
	     var desc = elem.find('div.conflict-'+type).find('ul');
	     label.toggleClass('conflict-active', conflicting.length > 0);
	     if (conflicting.length > 0) {
		 hasConflicts = true;
	     }
	     desc.empty();
	     $.each(conflicting, function (i, val) {
		 desc.append($('<li />').text(val));
	     });
	 });
	 if (hasConflicts) {
	     elem.show();
	 } else {
             elem.hide();
	 }
     });
 }

 function change(id, day, row, column, copy) {
     var csrftoken = $('[name=csrfmiddlewaretoken]').val();
     var elem = $('#' + id);
     var dataid = elem.attr('data-id');
     return $.post('', {
	 'id': parseInt(dataid),
	 'day': parseInt(day),
	 'row': parseInt(row),
	 'column': parseInt(column),
	 'csrfmiddlewaretoken': csrftoken,
         'copy': copy ? '1' : '0',
     }).done(function(data, status, xhr) {
         if (copy) {
             window.location.reload();
             return;
         }
         
	 if (day == 0) {
	     var after = $('#unused .scheduleable:last-of-type');
	     if (after.length) {
		 after.after(elem);
	     } else {
		 $('#unused').prepend(elem);
	     }
	     $('#' + id + "-conflicts, #" + id).css('grid-column', 'initial').css('grid-row', 'initial');
	 } else {
	     var length = parseInt(elem.attr('data-length'));
	     $('#' + id + "-conflicts, #" + id).css('grid-column', '' + (column+2) + '/span 1').css('grid-row', '' + (row+1) + '/span ' + length);
	     $('#day-'+day+' .grid-foreground-active').append(elem);
             $('#day-'+day+' .grid-conflicts').append($('#' + id + '-conflicts'));
	 }
	 updateConflictsFromArray(data);
     });
 }
 
 $(document).ready(function() {
     $('.grid').attr('draggable', false);
     $('.scheduleable:not([data-locked])').attr('draggable', true);
     $('.scheduleable, .scheduleable a, .not-scheduleable a, .object-tools .addlink').on('click', function(jqevent) {
         
         if (opened_window) {
             opened_window.close();
         }
	 opened_window = window.open($(jqevent.originalEvent.currentTarget).attr('data-link'), '_blank', 'height=800,width=600');
         jqevent.stopPropagation();
     });
     $('.grid-foreground-active .scheduleable, #unused .scheduleable').on('dragstart', function(jqevent) {
	 var ev = jqevent.originalEvent;
	 var id = ev.target.id;
         
         dragcopy = ev.ctrlKey;
         
         dragdropstartx = ev.layerX;
         dragdropstarty = ev.layerY;

	 ev.dataTransfer.setData('x-object/scheduleable', id);
	 ev.dataTransfer.effectAllowed = 'move';
         $(ev.target).attr('data-drop-called', 'false')
         if (! dragcopy) {
	     window.requestAnimationFrame(function () {
	         $(ev.target).hide();
	         $('#' + id + '-conflicts').hide();
	     });
         }
	 
     });
     $('.scheduleable').on('dragend', function(jqevent) {
	 jqevent.preventDefault();

	 var id = jqevent.target.id;
         window.setTimeout(function() {
             if ($(jqevent.target).attr('data-drop-called') == 'false') {
	         $(jqevent.target).show();
	         $('#' + id + '-conflicts').show();
             }
             $('#unused').css('background-color', 'white');
         }, 100);
     });	 
     $('#unused, .grid-background div, .scheduleable').on('dragover dragleave', function(jqevent) {
	 jqevent.preventDefault();
     });
     $('#unused, .grid-background div, .scheduleable').on('drop', function(jqevent) {
	 jqevent.preventDefault();
         var tx = jqevent.originalEvent.pageX-dragdropstartx;
         var ty = jqevent.originalEvent.pageY-dragdropstarty;
         var droptarget = document.elementFromPoint(tx, ty);
         /* In the following, we filter the background divs differently than the
            #unused div. */
         droptarget = $(".grid-background div")
             .filter(function() {
                 return ($(this).offset().top-$(this).height()/2) <= ty
                     && ty < ($(this).height()/2 + $(this).offset().top)
                     && ($(this).offset().left-$(this).width()/2) <= tx 
                     && tx < ($(this).width()/2 + $(this).offset().left);
             }).add($('#unused')
                 .filter(function() {
                     return ($(this).offset().top) <= ty
                         && ty < ($(this).height() + $(this).offset().top)
                         && ($(this).offset().left) <= tx 
                         && tx < ($(this).width() + $(this).offset().left);                     
                 })
             ).get(0);
         if ($(droptarget).is('#unused')) {
             var row = 0;
             var column = 0;
             var dayid = 0;
         } else if ($(droptarget).is('.grid-background div')) {
	     var day = droptarget.parentNode.parentNode;
	     var dayid = day.id.split("-")[1];
	     var cols = parseInt($(day).attr('data-columns'));
	     var rows = parseInt($(day).attr('data-rows'));
	     var index = Array.prototype.indexOf.call(
	         droptarget.parentNode.children,
	         droptarget) - 2 - cols; // subtract the header fields
	     var row = Math.floor(index / cols) + 1;
	     var column = (index % cols);
         } else {
             return;
         }
	 var id = jqevent.originalEvent.dataTransfer.getData('x-object/scheduleable');
         $('#' + id).attr('data-drop-called', 'true');
	 change(id, dayid, row, column, dragcopy).then(function() {
	     $('#' + id).show();
         });
     });
     $('.scheduleable').each(function(i, elem) {
	 if (elem.scrollHeight > elem.clientHeight) { //i.e., there is an overflow in the scheduleable
	     $(elem).css('cursor', 'ns-resize');
	 }
     });
     $.ajax('', {
         dataType: "json",
         accepts: {
             text: "application/json"
         }
     }).done(function(data, status, xhr) {
         updateConflictsFromArray(data);
     });
 });

 /* Functions called by the edit popup window */
 function dismissChangeRelatedObjectPopup() {  
     if (opened_window) {
         opened_window.close();
     }
     window.location.reload();
 }
 dismissAddRelatedObjectPopup = dismissChangeRelatedObjectPopup;
</script>
{% endif %}

<style>
 body {
     --conflict-background-color: #fff;
     --conflict-active: #f33;
     --conflict-inactive: #ddd;
     --conflict-hover: #f33;
     --time-background: #ddd;
     --divider-border: #ccd;
     --default-border: 2px solid grey;
     --time-line-border: 2px solid #bbf;
     --s-background: #888;
     --s-border: #444;
     --s-font: #000;
     --column-width: 12rem;
     --times-column-width: 4rem;
 }
 .grid-container {
     position: relative;
     margin-bottom: 2em;
     
 }
 .grid {
     position: absolute;
     left: 0;
     top: 0;
     display: grid;
     /*overflow: hidden;*/
     right: 0;
 }
 .grid-background {
     position: relative !important;
     
 }
 {% for schedule in scheduleset.get_days %}
 
 #day-{{ schedule.day.id }} {
     min-width: calc({{ schedule.content_columns }} * var(--column-width) + var(--times-column-width));
 }
 #day-{{ schedule.day.id }} .grid {   
     grid-template-columns: var(--times-column-width) repeat({{ schedule.content_columns }}, var(--column-width));
     grid-template-rows: 2em repeat({{ schedule.content_rows }}, calc(1em + 2px));
 }
 {% endfor %}
 .grid-background div {
     border-top: 1px solid var(--divider-border);
     border-left: 1px solid var(--divider-border);
     height: calc(1em + 2px);
 }
 
 .time-marker {
     border: none;
     background-color: var(--time-background);
     text-align: right;
     padding-right: 3px;
     top: -0.5em;
     position: relative;
     z-index: 1;
 }
 .time-marker.offset {
     top: 0;
 }
 .timecolumn-placeholder {
     background-color: var(--time-background);
     z-index: 0;
 }
 .time-line {
     border-top: var(--time-line-border);
 }
 .topleft-placeholder {
     border-bottom: var(--default-border);
 }
 .room {
     font-size: large;
     border-bottom: var(--default-border);
     text-align: center;
 }
 .grid-foreground-active {
     pointer-events: none;
     border-bottom: var(--default-border);
 }
 .grid-foreground-passive {
     pointer-events: none;
     border-bottom: var(--default-border);
 }
 .grid-foreground-passive .scheduleable {
     pointer-events: none;
     opacity: 0.5;
 }
 .grid-times {
     pointer-events: none;
 }
 .grid-conflicts {
     pointer-events: none;
     align-items: bottom;
 }
 .scheduleable {
     user-select: none;
     position: relative;
     pointer-events: all;
     margin: 1px 0px 2px 2px;
     font-size: small;
     padding: 1px 3px;
     overflow-y: hidden;
     background-color: var(--s-background);
     border-left: 9px solid var(--s-border);
     color: var(--s-font);
     z-index: 10;
 }
 .scheduleable:hover {
     overflow-y: auto;
 }
 .scheduleable .extrainfo {
     float: right;
 }
 .scheduleable .title {
     font-weight: bold;
 }
 .scheduleable.offset {
     margin-left: 14px;
 }
 .scheduleable[data-locked] {
     z-index: 9;
 }
 .conflicts {
     justify-self: center;
     position: absolute;
     width: 4em;
     right: 10px;
     bottom: -5px;
     padding: 3px;
     background-color: var(--conflict-background-color);
     border: 1px solid black;
     pointer-events: all;
     z-index: 100;
 }
 .conflict {
     color: var(--conflict-inactive);
 }
 .conflict.conflict-active {
     color: var(--conflict-active);
 }
 .conflict.conflict-active:hover {
     color: var(--conflict-hover);
 }
 .conflict + .conflict-description {
     display: none;
     float: left;
 }
 .conflict.conflict-active:hover + .conflict-description {
     display: block;
     width: 300px;
     background-color: var(--conflict-background-color);
     border: 1px solid black;
     margin-left: -4px;
     margin-bottom: -4px;
     padding: 1em 3px 3px 3px;
     position: absolute;
 }
 .conflicts:hover::after {
     content: "";
     display: block;
     width: calc(4em + 6px);
     position: absolute;
     left: 0;
     top: calc(1em + 6px);
     border-bottom: 1px solid var(--conflict-background-color);
     z-index: 101;
 }
 /* .conflict-description ul {
    list-style-type: square;
    margin: 2em;
    padding: 2em;
    list-style-position: inside;
    }*/

 #unused {
     position: sticky;
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: 1fr;
     /*grid-auto-flow: row;*/
     min-height: 5em;
     top: 0;
     width: 100%;
     border: 1px solid grey;
     background-color: white;
     z-index: 200;
     max-height: 30vh;
     overflow-y: auto;
 }

 #unused .scheduleable {
     height: 6em;
     font-size: x-small;
     z-index: 201;
 }

 #unused::after {
     content: "Unscheduled items";
     top: 0;
     left: 0;
     text-align: center;
     vertical-align: center;
     right: 0;
     bottom: 0;
     font-size: 3em;
     color: #ddd;
     font-weight: bold;
 }

 {% if scheduleset.editable %}
 div.extra {
     margin-top: 0.5em;
 }
 /* For more colors, see the pallette that was used: http://paletton.com/palette.php?uid=75g150kllllaFw0g0qFqFg0w0aF */
 .event-status-new { --s-background: #496C89; --s-border: #123552; --s-font: white;}
 .event-status-unconfirmed { --s-background: #D4A86A; --s-border: #805315; }
 .event-status-confirmed { --s-background: #9BC362; --s-border: #4D7514; }
 .event-status-rejected, .event-status-canceled, .event-status-withdrawn { --s-background: #B35982; --s-border: #6B123A; }
 {% else %}
 .event-type-workshop { --s-background: #496C89; --s-border: #123552; --s-font: white;}
 .event-type-special { --s-background: #B35982; --s-border: #6B123A; --s-font: white; }
 .event-type-talk { --s-background: #9BC362; --s-border: #4D7514; }
 .event-type-tour { --s-background: #D4A86A; --s-border: #805315; }
 {% endif %}
</style>
