{% load l10n i18n %}
<div
    class="scheduleable {{ s.get_css_classes }} {% if user in s.staff_assigned.all %}job-assigned{% endif %} offset"
    id="scheduleable-job-{{ s.id }}"
    data-id="{{s.id}}"
    data-model="job"
    style="grid-column: {{ s.column|add:2 }}/span {{ s.column_span }}; grid-row: {{ s.row|add:1 }}/span {{ s.length_ }};"
    {% if s.column_span > 1 %}data-locked="locked"{% endif %}
    data-length="{{ s.length_ }}"
    data-link="{% url 'admin:staffregistration_job_change' s.id %}?_popup=1">


    {% if s.active_layer %}
    {% if not user in s.staff_assigned.all %}
    <button type="submit" name="jobassign-action-add" value="{{ s.id }}" {% if not s.can_add %}disabled{% endif %} title="{% if s.can_add %}{% trans 'Add me to this job' %}{% else %}{% trans 'You cannot add yourself to this job: ' %}{{ s.can_add_whynot }}{% endif %}"><i class="fas fa-user-plus" aria-hidden="true"></i></button>
    {% else %}
    <button type="submit" name="jobassign-action-remove" value="{{ s.id }}" title="{% trans "Remove yourself from this job." %}"><i class="fas fa-user-times" aria-hidden="true"></i></button>
    {% endif %}
    {% endif %}

    <span class="time">{{ s.start_datetime|time:"H:i" }} {{ s.room }}</span>
    <div class="title" >{{ s.job_type.name }}
        {% if s.event %}
        (<a href="#" data-link="{% url 'admin:callforcontributions_event_change' s.event.id %}?_popup=1">{{ s.event }}</a>)
        {% endif %}
    </div>
    <div class="subtitle" >{{ s.subtitle|default:"" }}</div>
    <div class="persons">{{ s.person_list_html_admin }}</div>
    <div>
        {% if s.auto_generated %}<strong>AUTO</strong>{% endif %}
    </div>
    <div class="addusers">
        <hr>
        Available:<br>
        <ul>
        {% for u in s.available_users %}
            <li>{{ u }} <button onclick="addremove_user('add', {{ s.id }}, {{ u.id }}); return false;">+</button></li>
            {% endfor %}
        </ul>
    </div>
</div>
