{% load l10n i18n %}
<div
    class="conflicts"
    id="scheduleable-{{model}}-{{s.id}}-conflicts"
    style="grid-column: {{ s.column|add:2 }}/span 1; grid-row: {{ s.row|add:1 }}/span {{ s.length_ }};  display: none;">
    <i class="conflict fas fa-cube conflict-room"></i><div class="conflict-description conflict-room"><ul></ul></div>
    <i class="conflict fas fa-user-plus conflict-user_duties"></i><div class="conflict-description conflict-user_duties"><ul></ul></div>
    <i class="conflict fas fa-user-times conflict-user_availability"></i><div class="conflict-description conflict-user_availability"><ul></ul></div> 
</div>
