{% load l10n i18n %}
<div
    class="scheduleable {{ s.get_css_classes }} scheduleable-event {% if s.column_span > 1 %}colspan{% endif %}"
    id="scheduleable-{{ s.id }}"
    style="grid-column: {{ s.column|add:2 }}/span {{ s.column_span }}; grid-row: {{ s.row|add:1 }}/span {{ s.length_ }};"
    data-length="{{ s.length_ }}">
    {% if s.schedule_grid_description_html %}
    {{s.schedule_grid_description_html|safe }}
    {% else %}
    <span class="time">{{ s.start_datetime|time:"H:i" }} ({{ s.event_type }})</span>
    <div class="title"><a class="eventlink" href="{% url 'core_conference:conference_public_event' s.conference.url_snippet s.stable_id %}" title="{% trans 'Click for more information' %}">{{ s.title }}</a>{% if s.video %}&nbsp;<i class="fab fa-youtube"></i>{% endif %}</div>
    <div class="subtitle" >{{ s.subtitle|default:"" }}</div>
    {% endif %}
    
</div>
