{% load admin_urls %}
<div
    class="scheduleable {{ s.get_css_classes }}"
    id="scheduleable-event-{{ s.id }}"
    data-id="{{s.id}}"
    data-model="job"
    style="grid-column: {{ s.column|add:2 }}/span {{ s.column_span }}; grid-row: {{ s.row|add:1 }}/span {{ s.length_ }};"
    data-length="{{ s.length_ }}"
    {% if s.column_span > 1 %}data-locked="locked"{% endif %}
    {% if editable %}
    data-link="{% url s.get_meta|admin_urlname:'change' s.id %}?_popup=1"
>
    <span class="time">{{ s.get_status }}</span>
    <span class="extrainfo">{{ s.get_type }}|{{ s.length.length }}</span>
    <div class="title" >{{ s }}</div>
    <div class="subtitle" >{{ s.subtitle|default:"" }}</div>
    <div class="persons">{{ s.get_persons_required.all|join:", " }}</div>
    <div class="extra">
	Track: {{ s.track }}<br>
	Languages: {% for l in s.languages.all %}{% if l == s.selected_language %}<b>{{ l }}</b>{% else %}{{ l }}{% endif %} {% endfor %}<br>
        Released? {% if s.released == None %}
        No.
        {% else %}
        Yes, {{ s.released.start_datetime }}, {{ s.released.room }}.
        {% endif %}
    </div>

    {% else %}
    >
    {% if schedule_grid_description_html %}
    {{ schedule_grid_description_html }}
    {% else %}
    <span class="time">{{ s.start_datetime|time:"H:i" }}</span>
    <span class="extrainfo">{{ s.get_type }}</span>
    <div class="title" >{{ s }}</div>
    <div class="subtitle" >{{ s.subtitle|default:"" }}</div>
    {% if not s.hide_speakers %}
    <div class="persons">{{ s.get_persons_required.all|join:", " }}</div>
    {% endif %}
    {% endif %}
{% endif %}
</div>
