{% load i18n markdown_deux_tags easy_thumbnails_tags staticfiles %}
<div class="d-flex">
    <a href="{% url 'core:user' user.id %}"><img class="card-img-top" src="{% if user.image %}{% thumbnail user.image 200x200 crop %}{% else %}{% static 'images/nouserimage.png' %}{% endif %}" style="width: 3rem; background-color: #eee;"></a>
    <div class="p-2">
        <h5 class="card-title">
            <a href="{% url 'core:user' user.id %}">{{ user.username }}</a>
            {% if user.affiliation %}<br><small>{{ user.affiliation }}</small>{% endif %}
            {% if user.twitter %}<br><small><a href="https://twitter.com/{{user.twitter}}">@{{ user.twitter }}</a></small>{% endif %}</h5>
        <p class="card-text">
            
{% comment %}
            <a href="{% url 'core:user' user.id %}" class="badge badge-secondary">
                {% blocktrans count user.eventcount as events %}
                One contribution
                {% plural %}
                {{ events }} contributions
                {% endblocktrans %}
            </a>
            {% endcomment %}
        </p>
        
    </div>
</div>
