{% load i18n thumbnail %}

{% if sponsors %}
<div class="card mb-3">
    <!-- <h5 class="card-header">{% trans 'Our Sponsors for ' %}{{ conference.short_name }}</h5> -->
    <div class="card-body">
	
	<div id="sponsors" style="display: grid; grid-template-columns: repeat({{ FROSCH_SPONSOR_GRID_GRANULARITY|add:1 }}, 1fr); grid-template-rows: 1fr;" >
	    {% for s in sponsors %}
	    {% ifchanged %}
	    <h4 class="card-title text-center mt-3" style="grid-column: 1/span {{FROSCH_SPONSOR_GRID_GRANULARITY}}">{{ s.sponsor.level.name }}</h4>
	    {% endifchanged %}
	    <a href="{{ s.sponsor.link }}" target="_blank" style="grid-column: {{ s.start }}/span {{ s.span }};" alt="{{ s.sponsor.name }}{% trans " supports " %}{{ conference.short_name }}" class="mt-3" >
		<img src="{% thumbnail s.sponsor.image 800x800 %}" alt="{{ s.sponsor.name }}" style=" width: 100%; height: auto;">
	    </a>
	    {% endfor %}
	</div>
    </div>
    
</div>
{% endif %}
