{% load qrcode i18n %}

<!-- download -->

<div class="card mb-3">
    <h5 class="card-header"><i class="fas fa-mobile-alt"></i> {% trans 'View on Mobile' %}</h5>
    <div class="card-body">

	<button class="btn btn-primary mb-1" type="button" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="false" aria-controls="collapseExample">
	    {% trans "See instructions (Android)" %}
	</button>

	<div class="collapse" id="collapseDownload">
	    <div class="text-center">
		{{ "https://play.google.com/store/apps/details?id=net.gaast.giggity"|qrcode }}
	    </div>
	    <h5 class="card-title" >{% trans "Step 1: Install Giggity" %}</h5>
	    <p class="card-text">
		{% blocktrans %}Scan or click the QR code above to install the app <emph>Giggity</emph> by Wilmer van der Gaast which provides schedules for several open source community conferences.{% endblocktrans %}
	    </p>
	    <div class="text-center">
		{{ pentabarf_url|qrcode }}
	    </div>
	    <h5 class="card-title" >{% trans "Step 2: Load XML file" %}</h5>
	    <p class="card-text">
		{% blocktrans with confname=conference.short_name %}(If the schedule for
		{{ confname }} is not already
		shown in Giggity.) Scan the QR code above
		using Giggity to download and view the
		schedule.{% endblocktrans %}
	    </p>
	</div>
	<style>
	    #collapseDownload img {
	    margin-left: auto;
	    margin-right: auto;
	    }
	</style>
    </div>
</div>
