{% load i18n %}

<h1>{{ conference.short_name }}
    {% if user.is_staff %}
    <a href="{% url 'admin:core_conference_change' conference.id %}" class="editlink">✎</a>
    {% endif %}
</h1>
<div class="text-muted mb-3">
    {{ conference.venue }}
    {% if conference in archived_conferences %}<br>
    {{ conference.public_start|date }}
    {% endif %}
</div>
{% if not conference in archived_conferences %}
<div class="card mb-3">
    <h5 class="card-header">{% trans 'Quick Facts' %}</h5>
    <div class="card-body">
	<p class="card-text">
            <b>{% trans "Start" %}: </b> {{ conference.public_start }}<br>
            <b>{% trans "End" %}: </b> {{ conference.public_end }}
            {% if not conference.eventsettings.last_draft_released %}
            <br><b>({% trans "preliminary" %})</b>
            {% endif %}
        </p>

        {% if conference.visitor_registration and conference.visitor_registration.is_active %}
	<a class="btn btn-primary btn-sm mb-1" href="{% url 'visitorregistration:start' conference.url_snippet %}">{% trans "Register now (it's free!)" %}</a>
	{% endif %}
	{% if conference.eventsettings and conference.eventsettings.is_public %}
	<a class="btn btn-primary btn-sm mb-1" href="{% url 'call:index' conference.url_snippet %}">{% trans 'Submit your contribution' %}</a>
	{% endif %}
	{% if conference.conferencestaffsettings and conference.conferencestaffsettings.is_public %}
	<a class="btn btn-primary btn-sm mb-1" href="{% url 'staff:index' conference.url_snippet %}">{% trans 'Become a volunteer' %}</a>
	{% endif %}
        
        
    </div>
</div>

{% endif %}
