{% extends 'dialog.html' %}
{% load i18n markdown_deux_tags %}

{% block dialog_title %}{% trans "Become a Co-Speaker?" %}{% endblock %}

{% block dialog %}
<form action="{% url 'call:associate' conference.url_snippet event.id token %}" method="post">
    {% blocktrans %}
    <p>Do you want to become a co-speaker for the following contribution?</p>
    <p>If you confirm, you will have full access to the event's data.</p>
    {% endblocktrans %}
    
    <h4>{% trans "Title" %}</h4>
    <p>{{ event.title }}</p>
    {% if event.subtitle %}
    <h4>{% trans "Subtitle" %}</h4>
    <p>{{ event.subtitle }}</p>
    {% endif %}
    <h4>{% trans "Description" %}</h4>
    <p>{{ event.description|markdown }}</p>
    {% csrf_token %}

    <div class="form-group">
	<a href="{% url 'call:index' conference.url_snippet %}" class="btn btn-default" role="button">{% trans "Cancel" %}</a>
	<button type="submit" class="btn btn-primary">{% trans "Become Co-Speaker" %}</button>
    </div>
</form>

{% endblock %}
