{% extends 'dialog.html' %}
{% load i18n %}

{% block dialog_title %}{% trans "Confirm Delete" %}{% endblock %}

{% block dialog %}
<form action="{% url 'call:delete' conference.url_snippet event.id %}" method="post">
    {% blocktrans with title=event.title%}
    <p>Do you want to <b>delete</b> your contribution <emph>{{ title }}</emph>?</p>
    <div class="alert alert-danger">This action cannot be undone! </div>
    <p>If you like, please provide a reason for deleting this contribution:</p>
    {% endblocktrans %}
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
	<textarea name="reason" class="form-control">{{ form.reason.value }}</textarea>
	{{ form.reason.errors }}
    </div>
    <div class="form-group">
	<a href="{% url 'call:index' conference.url_snippet %}" class="btn btn-default" role="button">{% trans "Cancel" %}</a>
	<button type="submit" class="btn btn-primary">{% trans "DELETE permanently" %}</button>
    </div>
</form>

{% endblock %}
