{% extends 'dialog.html' %}
{% load i18n %}

{% block dialog_title %}{% trans "Restore Contribution" %}{% endblock %}

{% block dialog %}
<form action="{% url 'call:undo-withdraw' conference.url_snippet event.id %}" method="post">
    {% blocktrans with title=event.title%}
    <p>Do you want to re-submit your contribution <emph>{{ title }}</emph>?</p>
    <p>If you confirm, your event will be set to the state "new" and has to be confirmed by an administrator again.</p>
    {% endblocktrans %}
    {% csrf_token %}
    <div class="form-group">
	<a href="{% url 'call:index' conference.url_snippet %}" class="btn btn-default" role="button">{% trans "Cancel" %}</a>
	<button type="submit" class="btn btn-primary">{% trans "Undo Withdraw" %}</button>
    </div>
</form>

{% endblock %}
