{% extends 'dialog.html' %}
{% load i18n %}
{% block dialog_title %}{% trans "Confirm?" %}{% endblock %}

{% block dialog %}
<form action="{% url 'call:confirm' conference.url_snippet event.id %}" method="post">

    {% if event.released.is_scheduled %}
    <p>{% trans "This event is currently scheduled for" %} {{ event.released.day.date|date:"DATE_FORMAT" }}
    {% if event.released.has_datetime %}
    {{ event.released.start_datetime|time:"TIME_FORMAT" }} &ndash; {{ event.released.end_datetime|time:"TIME_FORMAT" }}
    </p>
    {% endif %}
    {% elif event.is_scheduled %}
    <p>{% trans "This event is currently scheduled for" %}
    {{ event.day.date|date:"DATE_FORMAT" }}
    {% if event.has_datetime %}
    {{ event.start_datetime|time:"TIME_FORMAT" }} &ndash; {{ event.end_datetime|time:"TIME_FORMAT" }}
    {% endif %}
    ({% trans "preliminary" %})
    </p>
    {% endif %}
    
    {% blocktrans with title=event.title%}
    <p>Do you want to confirm your attendance at the event to present your contribution <emph>{{ title }}</emph>?</p>
    {% endblocktrans %}
    
    {% csrf_token %}
    <div class="form-group">
	<a href="{% url 'call:index' conference.url_snippet %}" class="btn btn-default" role="button">{% trans "Cancel" %}</a>
	<button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
    </div>
</form>

{% endblock %}
