{% extends 'callforcontributions/base.html' %}
{% load l10n i18n markdown_deux_tags %}

{% block title %}{{ conference.short_name }}{% endblock %}

{% block extracards %}
<!-- Date list -->
<div class="card mb-3">
    <h5 class="card-header bg-raspberry-light text-raspberry-dark">{% trans "Important Dates" %}</h5>
    <div class="card-body">
        {% if not conference.eventsettings.is_call_open %}
        <p class="card-text"><b>{% trans "Call open" %}:</b><br> {{ conference.eventsettings.call_open|date:"DATETIME_FORMAT" }}</p>
        {% endif %}
        <p class="card-text"><b>{% trans "Call close" %}:</b><br> {{ conference.eventsettings.call_close|date:"DATETIME_FORMAT" }}</p>
        {% if conference.eventsettings.notification_date %}
        <p class="card-text"><b>{% trans "Latest accept/reject notification date" %}:</b><br> {{ conference.eventsettings.notification_date|date:"DATE_FORMAT" }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block maincontent %}
<article class="card">
    <div class="card-header">
        <h1>{% trans "Call for Contributions" %}</h1>
    </div>
    
    <!-- Messages -->
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

    <!-- User has no about text -->
    {% if logged_in and submissions and not user.about %}
    <div class="alert alert-info">
        {% blocktrans with conf=conference.short_name %}Please tell us and the visitors of {{ conf }} a bit about you in your profile.{% endblocktrans %}
        <a href="{% url "accounts:profile" %}">{% trans "Complete your profile now." %}</a>
    </div>
    {% endif %}

    
    <!-- Login call to action -->
    {% if not logged_in %}
    <div class="alert alert-warning">
        {% if conference.eventsettings.is_call_open %}
        {% url 'accounts:register' as register_url %}
        {% blocktrans %}Log in or <a href="{{ register_url }}">or register</a> to review your contributions or make a new one.{% endblocktrans %}
        {% else %}
        {% blocktrans %}Log in to review your contributions.{% endblocktrans %}
        {% endif %}
    </div>
    {% endif %}
    
    <!-- Call closed warning -->
    {% if logged_in and not conference.eventsettings.is_call_open %}
    <div class="alert alert-warning">
        {% trans "New events are not accepted at this time. If you want to make a submission, please contact us via mail." %}
    </div>
    {% endif %}
    
    <div class="card-body">
        <div class="card-text">
            <!-- Description -->
            {{ conference.eventsettings.description|markdown:"trusted" }}
        </div>
    </div>
</article>

<!-- Format list -->
<article class="card mt-3">
    <h3 class="card-header">{% trans "Formats" %}</h3>
    <div class="card-body">
        <div class="card-text">
            
            {% for type in conference.eventsettings.event_types.all %}
            <h4>{{ type.name }}</h4>
            <p>{{ type.short_description|markdown }}</p>
            {% if conference.eventsettings.is_call_open and not conference.eventsettings.is_archived %}
            <p><a class="btn btn-dark" href="{% url 'call:submit' conference.url_snippet type.url_snippet %}">{% blocktrans with typename=type.name %}Submit a new {{ typename }}{% endblocktrans %}</a></p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</article>



<!-- Submission list -->
{% if submissions %}
<article class="card mt-3">
    <h3 class="card-header">{% trans "Your Contributions" %}</h3>
    
    <!-- Archived warning -->
    {% if conference.eventsettings.is_archived %}
    <div class="alert alert-warning">
        {% blocktrans with conf=conference.short_name %}{{ conf }} is archived. You cannot make any changes to your contributions anymore.{% endblocktrans %}
    </div>
    {% endif %}
    
    {% include 'callforcontributions/includes/event-table.html' %}

    
</article>

<!-- Availability form -->
<article class="card mt-3 mb-3">
    <h3 class="card-header">{% trans "Your Availability" %}</h3>
    <div class="card-body">
        <div class="card-text">
            {% include 'mixins/availabilityform.html' with what='contributions' %}
        </div>
    </div>
</article>
{% endif %}
{% endblock %}
