{% extends "dialog.html" %}
{% load i18n %}

{% block dialog_title %}{% trans "My Contributions" %}{% endblock %}


{% block dialog %}
<table class="events table">
    {% with hide_event_table_actions=True %}
    {% include 'callforcontributions/includes/event-table-head.html' %}
    {% for event in events %}
    {% ifchanged event.conference %}
    <tr class="conference-title"><td colspan="5"><h4 class="pt-1"><a href="{% url 'core_conference:conference' event.conference.url_snippet %}">{{ event.conference.short_name }}</a></h4></td></tr>
    {% endifchanged %}
    {% include 'callforcontributions/includes/event-table-row.html' with conference=event.conference %}
{% empty %}
    <tr class="conference-title"><td colspan="5"><h4 class="pt-1">{% trans 'You did not submit any contributions so far.' %}</h4></td></tr>
    {% endfor %}
    {% endwith %}
</table>
{% endblock %}
