{% extends 'callforcontributions/base.html' %}
{% load formset_tags staticfiles i18n markdown_deux_tags bootstrap4 %}

{% block title %}{{ conference.short_name }}: {% if not form.instance.id %}{% trans "New Submission" %}{% else %}{{ form.instance.title }}{% endif %}{% endblock %}

{% block maincontent %}
<form action="{{ return_to }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}

    <article class="card">
        <div class="card-header">
            <h1>
                {% with e=event_type.name %}
                {% if form.instance.id %}
                {% blocktrans %}
                Edit {{ e }}
                {% endblocktrans %}
                {% else %}
                {% blocktrans %}
                Submit new {{ e }}
                {% endblocktrans %}
                {% endif %}
                {% endwith %}
            </h1>
        </div>
        
        {% if conference.eventsettings.is_archived %}
        <div class="alert alert-warning">
	    {% blocktrans with conf=conference.short_name %}{{ conf }} is archived. You cannot make any changes to your contributions anymore.{% endblocktrans %}
        </div>
        {% endif %}

        <div class="card-body">
        <div class="card-text">
            
            {{ event_type.long_description|markdown }}

            {% bootstrap_messages %} 
            
            

            
            <h3>{% trans "Basic Information" %}</h3>
            <p>
	        {% trans "Describe your contribution here. If you can present your contribution in multiple languages, use your preferred language for this description. Fields marked as public will become part of the online and printed schedule. Please add details about yourself in your user profile." %} 
	        <a href="{% url "accounts:profile" %}" target="_blank">{% trans "Edit user profile (new window)." %}</a>
            </p>
            {% bootstrap_form form %}

            
            <h3>{% trans "Additional Speakers" %}</h3>
            {% if not conference.eventsettings.is_archived %}
            {% bootstrap_form invite_form show_label=False %}
            {% endif %}
            {% if form.instance.speaker.count > 1 %}
            <div class="form-group">
	        <label for="associate-speakers">
	            {% trans "Confirmed Speakers" %}:
	        </label>
	        <ul>
	            {% for speaker in form.instance.speaker.all %}
	            {% if speaker != user %}
	            <li>{{ speaker }}</li>
	            {% endif %}
	            {% endfor %}
	        </ul>	
            </div>
            {% endif %}

            
            <h3>{% trans "Slides, Pictures and other Media Files" %}</h3>
            <p class="help-block">{% blocktrans %}Upload any data here that helps us evaluate your contribution, for example, presentation slides, pictures of your project, or documents. Files marked public will be published on our web site. For files marked as public, please make sure that you don't violate any rights of third parties.{% endblocktrans %}</p>
            <div id="mediaset" data-formset-prefix="{{ mediaset.prefix }}">
	        {{ mediaset.management_form }}
	        <table class="table table-striped">
	            <thead>
                        {% if not conference.eventsettings.is_archived %}
	                <tr>
	                    <th width="5%"></th>
	                    <th></th>
	                    <th width="20%"></th>
	                    <th width="15%">{% if not form.instance.id %}<button type="submit" class="btn btn-link add-button formset-button" id="add-submit-button" value="check-and-add" name="action"><i class="fas fa-plus-square"></i> {% trans "Add" %}</button>
		                {% else %}<a href="#" onclick="return false;" class="formset-button add-button" data-formset-add><i class="fas fa-plus-square"></i> {% trans "Add" %}</a>
		                {% endif %}</th>
	                </tr>
                        {% endif %}
	            </thead>
	            <tbody data-formset-body>
	                {% for mform in mediaset %}
	                <tr data-formset-form>
	                    <td>{% bootstrap_field mform.is_public %}</td>
	                    <td>{% bootstrap_field mform.name %}</td>
	                    <td>
		                {% if mform.instance.file %}
		                <div>
		                    <label>{% trans "Currently" %}:</label><br>
		                    <a href="{% url "call:download-media" conference.url_snippet mform.instance.file.name %}">{{ mform.instance.filename|truncatechars:20 }}</a>
		                    {% if not conference.eventsettings.is_archived %}<a href="#" onclick="$(this).parent().parent().find('div.hidden').removeClass('hidden'); $(this).parent().hide(); return false;"><i class="fas fa-times"></i></a>{% endif %}
		                </div>
		                <div class="hidden">
		                    {% endif %}
		                    {% bootstrap_field mform.file %}
		                    Max. {{ FROSCH_MAX_UPLOAD_SIZE|filesizeformat }}
		                    {% if mform.instance.file %}
		                </div>
		                {% endif %}
	                    </td>
	                    <td>
		                {% if not conference.eventsettings.is_archived %}
		                <div class="hidden">{{ mform.DELETE }}</div>
		                <a href="#" onclick="return false;" class="formset-button" data-formset-delete-button><i class="fas fa-times"></i> {% trans "Remove" %}</a>
		                {{ mform.id }}
		                {% endif %}
	                    </td>
	                </tr>
	                {% endfor %}
	            </tbody>
	        </table>
	        
	        <script type="form-template" data-formset-empty-form>
	         {% escapescript %}
	         {% with mediaset.empty_form as mform %}
	         <tr data-formset-form>
	         <td>{% bootstrap_field mform.is_public %}</td>
	         <td>{% bootstrap_field mform.name %}</td>
	         <td>{% bootstrap_field mform.file %}</td>
	         <td>  
	         </td>
	         </tr>
	         {% endwith %}
	         {% endescapescript %}
	        </script>      
	        
	        <script>jQuery(function($) {
                     $("#mediaset").formset({
                         animateForms: true
                     });
	         });

	         function replaceDownload(instance_id) {
	             $('#rupload-' + instance_id + '-links').hide();
	             $('#rupload-' + instance_id + '-upload').show();
	             return false;
	         }
	         $('input[type=file]').bind('change', function() {
	             if (this.files[0].size > 10 * 1024 * 1024) {
	                 alert("{% trans "Attention! This file is too large to upload." %}");
	             }
	             
	         });

	        </script>
            </div>


            <h3>{% trans "Web Links" %}</h3>
            <p class="help-block">{% blocktrans %}Add any links that help us evaluate your contribution, e.g., to blog posts, your home page, etc. Links marked public will be published on our web site in the conference schedule.{% endblocktrans %}</p>
            <div id="linkset" data-formset-prefix="{{ linkset.prefix }}">
	        {{ linkset.management_form }}
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th width="5%"></th>
	                    <th></th>
	                    <th width="40%"></th>
	                    <th width="15%">
		                {% if not conference.eventsettings.is_archived %}
		                <a href="#" onclick="return false;" class="formset-button add-button" data-formset-add><i class="fas fa-plus-square"></i> {% trans "Add" %}</a>
		                {% endif %}
	                    </th>
	                </tr>
	            </thead>
	            <tbody data-formset-body>
	                {% for mform in linkset %}
	                <tr data-formset-form>
	                    <td>{% bootstrap_field mform.is_public %}</td>
	                    <td>{% bootstrap_field mform.name %}</td>
	                    <td>{% bootstrap_field mform.link %}</td>
	                    <td>
		                {% if not conference.eventsettings.is_archived %}
		                <div class="hidden">{{ mform.DELETE }}</div>
		                <a href="#" onclick="return false;" class="formset-button" data-formset-delete-button><i class="fas fa-times"></i> {% trans "Remove" %}</a>
		                {{ mform.id }}
		                {% endif %}
	                    </td>
	                </tr>
	                {% endfor %}
	            </tbody>
	        </table>
	        
	        <script type="form-template" data-formset-empty-form>
	         {% escapescript %}
	         {% with linkset.empty_form as mform %}
	         <tr data-formset-form>
	         <td>{% bootstrap_field mform.is_public %}</td>
	         <td>{% bootstrap_field mform.name %}</td>
	         <td>{% bootstrap_field mform.link %}</td>
	         <td>   
	         <div class="hidden">{{ mform.DELETE }}</div>
	         <a href="#" onclick="return false;" class="formset-button" data-formset-delete-button><i class="fas fa-times"></i> {% trans "Remove" %}</a>
	         {{ mform.id }}
	         </td>
	         </tr>
	         {% endwith %}
	         {% endescapescript %}
	        </script>      
	        
	        <script>jQuery(function($) {
                     $("#linkset").formset({
                         animateForms: true
                     });
	             $(".wmd-input").addClass('form-control');
	         });
	        </script>
            </div>
            <div class="form-group">
	        {% if not conference.eventsettings.is_archived %}
	        <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}" />
	        {% endif %}
            </div>

            <script src="{% static "js/jquery.formset.js" %}"></script>
        </div>
        </div>
    </article>
</form>

{% endblock %}
