{% load l10n i18n thumbnail %}

<!-- Gallery -->
{% if conference.gallery %}
<div class="d-flex gallery flex-wrap">
    {% with gallery=conference.gallery.files.all %}
    {% if gallery|length < 7 %}
    
    {% for image in gallery %}
    <div class="col-md-2">
        <a href="{% thumbnail image 1000x1000 %}" data-toggle="lightbox" data-gallery="conference-gallery"><img src="{% thumbnail image 420x420 crop %}" alt="{{ image.title }}"></a>
    </div>
    {% endfor %}
    {% else %}
    
    {% for image in gallery|slice:":5" %}
    <div class="col-md-2">
        <a href="{% thumbnail image 1000x1000 %}" data-toggle="lightbox" data-gallery="conference-gallery"><img src="{% thumbnail image 420x420 crop %}" alt="{{ image.title }}"></a>
    </div>
    {% endfor %}

    {% with image=gallery|slice:"5:6"|first %}
    <span class="gallery-more-image p-0 col-md-2">
        <img src="{% thumbnail image 420x420 crop %}" alt="{{ image.title }}">
        <a class="btn btn-primary" data-toggle="collapse" href=".moreimages" role="button" aria-expanded="false" onclick="$(this).parent().hide();">{% trans "Show all images" %}</a>
    </span>
    {% endwith %}
    
    {% for image in gallery|slice:"5:" %}
    <div class="col-md-2 collapse moreimages">
        <a href="{% thumbnail image 1000x1000 %}" data-toggle="lightbox" data-gallery="conference-gallery"><img src="{% thumbnail image 420x420 crop %}" alt="{{ image.title }}"></a>
    </div>
    
    {% endfor %}
    
    
    
    {% endif %}
    {% endwith %}
    
</div>  
{% endif %}
