{% load i18n markdown_deux_tags thumbnail %}
<!-- Highlights --> 
{% if conference.highlights.all|length %}
<div class="card-img tab-pane fade show active" id="highlights" role="tabpanel">
    <div  style="overflow: hidden; overflow-x: scroll;" >
        <div class="card-group" style="width: calc({{ conference.highlights.all|length }} * 33% - 30px);">
            {% for highlight in conference.highlights.all %}
            <div class="card">
                
                <a href="{{ highlight.link_url }}">
                    <img class="card-img-top" src="{% thumbnail highlight.image 420x420 crop %}" alt="{{ highlight.title }}">
                </a>
                <div class="card-body">
                    <p class="card-text">
                        {{ highlight.description }}<br>
                        <small><a href="{{ highlight.link_url }}">{% trans "more information" %}</a></small>
                    </p>
                    
                </div>
            </div>
            {% endfor %}
        </div>  
    </div>
</div>
{% endif %}
