{% load l10n i18n staticfiles thumbnail markdown_deux_tags %}

<!-- quick links -->
<div class="d-flex align-items-start">
    <h1 class="mr-auto">{{ conference.short_name }}</h1>
    
    {% if conference not in archived_conferences %}
    {% if conference.visitor_registration and conference.visitor_registration.is_active %}
    <a class="btn btn-primary btn-sm mr-1 d-none d-md-block" href="{% url 'visitorregistration:start' conference.url_snippet %}">{% trans "Register now (it's free!)" %}</a>
    
    {% endif %}
    {% if conference.eventsettings and conference.eventsettings.is_public and conference.eventsettings.is_call_open %}
    <a class="btn btn-primary btn-sm mr-1 d-none d-md-block" href="{% url 'call:index' conference.url_snippet %}">{% trans 'Submit your contribution' %}</a>
    
    {% endif %}
    {% if conference.conferencestaffsettings and conference.conferencestaffsettings.is_public %}
    
    <a class="btn btn-primary btn-sm mr-1 d-none d-md-block" href="{% url 'staff:index' conference.url_snippet %}">{% trans 'Become a volunteer' %}</a>
    
    {% endif %}
    {% endif %}
</div>
<!-- Information and links -->
<div class="card-text">
    <p class="text-muted mb-2">
        {{ conference.venue }}, 
        {% if conference in archived_conferences %}<br>
        {{ conference.public_start|date }}
        {% else %}
        {% if not conference.is_multiday %}
        {{ conference.public_start|date }} {{ conference.public_start|time }} &ndash; {{ conference.public_end|time }}
        {% else %}
        {{ conference.public_start|date }} {{ conference.public_start|time }} &ndash; {{ conference.public_end|date }} {{ conference.public_end|time }}
        {% endif %}
        {% if not conference.eventsettings.last_draft_released %}
        <b>({% trans "preliminary times" %})</b>
        {% endif %}
        {% endif %}
    </p>
    {{ conference.intro_text|markdown:"trusted" }}
    {% if conference not in archived_conferences %}
    {% if conference.visitor_registration and conference.visitor_registration.is_active %}
    <a class="btn btn-primary btn-sm mb-1 d-block d-md-none" href="{% url 'visitorregistration:start' conference.url_snippet %}">{% trans "Register now (it's free!)" %}</a>
    
    {% endif %}
    {% if conference.eventsettings and conference.eventsettings.is_public %}
    <a class="btn btn-primary btn-sm mb-1 d-block d-md-none" href="{% url 'call:index' conference.url_snippet %}">{% trans 'Submit your contribution' %}</a>
    
    {% endif %}
    {% if conference.conferencestaffsettings and conference.conferencestaffsettings.is_public %}
    
    <a class="btn btn-primary btn-sm mb-1 d-block d-md-none" href="{% url 'staff:index' conference.url_snippet %}">{% trans 'Become a volunteer' %}</a>
    
    {% endif %}
    {% endif %}
</div>
