{% load l10n i18n staticfiles thumbnail %}

{% if conference.intro_image %}
<div style="position:relative;">
    <img class="card-img-top" src="{% thumbnail conference.intro_image 1100x400 crop quality=95 %}" alt="">
    <img src="{% static 'images/piandmore.png' %}" alt="Pi and More" class="card-img-top-overlay" >
</div>
{% endif %}
