{% load l10n i18n markdown_deux_tags thumbnail geojson_tags %}

<div class="card-img" id="venue">
    
    <div class="card-img-top">
        <div id="minimap" style="height: 500px;" >
        </div>
    </div>
    
    {% if conference.venue_text %}
    <div class="card-body">
        {% if conference.venue_image %}
        <img style="float: right; width: 40%;" class="m-1" src="{% thumbnail conference.venue_image 400x400 %}" alt="">
        {% endif %}
        <div class="card-text">
            {{ conference.venue_text|markdown:"trusted" }}
        </div>
    </div>
    {% endif %}
</div>
<script type="text/javascript">
 
 function showmap() {
     var map = L.map('minimap',);
     
     L.tileLayer('https://api.mapbox.com/styles/v1/cmd-ev/cjd4pc4mp5gk12roedt47xraq/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
         attribution: '<small>Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a></small>',
         maxZoom: 18,
         id: 'mapbox.streets',
         accessToken: 'pk.eyJ1IjoiY21kLWV2IiwiYSI6ImNqZDRwOWdhMDA4amgycnVxcXppeTNpbjIifQ.4RoY7cFAjQQ7DMK-tYjLFA'
     }).addTo(map);
     
     var featureGroup = L.featureGroup([
         {% for c in conference.coordinates.all %}
         L.marker(
             [{{ c.location.coordinates.1|unlocalize }},{{ c.location.coordinates.0|unlocalize }}],
             {
                 icon:
			  L.AwesomeMarkers.icon({{ c.icon_options_json|safe }})
             }).bindPopup("<b>{{ c.name|escapejs }}</b>{% if c.description %}<br>{% endif %}{{ c.description|markdown:'trusted'|escapejs }}"),
         {% endfor %}
     ]);
     map.addLayer(featureGroup);
     map.fitBounds(featureGroup.getBounds(), {maxZoom: 14});
     
 }
 $(document).ready(showmap);
</script>
