{% load i18n %}

<div class="wmd-wrapper" id="{{ id }}-wmd-wrapper">
    <div class="wmd-panel">
        <div id="{{ id|safe }}_wmd_button_bar"></div>
	<div class="wmd-helper-text">
	    <a href="{% trans "https://support.squarespace.com/hc/en-us/articles/206543587-Markdown-cheat-sheet" %}" target="_blank">
	        {% trans "Use markdown syntax" %}&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i>
	    </a>
	</div>
        <textarea{{ attrs|safe }}>{{ body }}</textarea>
    </div>
    {% if show_preview %}   
    <div class="wmd-preview-label">{% trans "preview" %}</div>
    <div id="{{ id|safe }}_wmd_preview" class="wmd-panel wmd-preview">

    </div>
    {% endif %}
</div>
