{% extends 'staffregistration/base.html' %}
{% load l10n i18n markdown_deux_tags %}

{% block title %}{{ conference.short_name }}{% endblock %}

{% block maincontent %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

<div class="card">
    <h1 class="card-header">
        {% trans "Your Skills" %}
    </h1>
    <div class="card-body">
        <div class="card-text">
            <form id="skills" action="" method="post">
                {% csrf_token %}
                <p>{% trans "Please select all skills that apply to you." %}</p>
                {% for skill in skill_form %}
                <p>{{ skill }} {{ skill.field.instance }}</p>
                {% if not skill.field.instance.can_self_assign %}<p><small>({% trans "Can only be assigned by an administrator." %})</small></p>{% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary" value="skillset" name="submit">{% trans 'Save my skills' %}</button>
                
            </form>
        </div>
    </div>
</div>

<div class="card mt-3">
    <h1 class="card-header">
        {% trans "Your Availability" %}
    </h1>
    <div class="card-body">
        <div class="card-text">
            {% include 'mixins/availabilityform.html' with what='jobs' %}
        </div>
    </div>
</div>
{% endblock %}
