{% extends 'staffregistration/base.html' %}
{% load l10n i18n markdown_deux_tags bootstrap4 %}

{% block title %}{{ conference.short_name }}{% endblock %}

{% block maincontent %}
<article class="card">
    <div class="card-header">
        <h1>{% trans "Staff Registration" %}</h1>
    </div>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    
    <div class="card-body">
        <div class="card-text">
            <!-- Description -->
            {{ conference_staff_settings.description|markdown:"trusted" }}
        </div>
    </div>
</article>

<!-- Explanation -->
<div class="card mt-3 mb-3">
    <h2 class="card-header">{% trans "How can you help out?" %}</h2>
    <div class="card-body">
        <div class="card-text">
                <ol class="todolist">
                    <li>{% if step > 0 %}<span class="done"></span>{% endif %}
                        {% url 'accounts:register' as url_reg %}
                        {% url 'accounts:login' as url_login %}
                        {% blocktrans with r=request.path %}
                        You <a href="{{ url_reg }}?next={{r}}">register yourself</a> or
                        <a href="{{ url_login }}?next={{r}}">sign in</a>.
                        {% endblocktrans %}
                        <br><small>{% trans "If you have a speaker's account already, there's no need to create a new one." %}</small>
                    </li>
                    <li>{% if step > 1 %}<span class="done"></span>{% endif %}
                        {% blocktrans %}
                        You confirm <a href="#conferencestaffform">below</a> that you want to help out at this event.
                        {% endblocktrans %}
                    </li>
                    <li>{% if step > 2 %}<span class="done"></span>{% endif %}
                        {% url 'staff:availability-skills' conference.url_snippet as url_skills %}
                        {% blocktrans %}
                        You enter your <a href="{{ url_skills }}">availability and skills</a>.
                        {% endblocktrans %}
                    </li>
                    <li>{% if step > 3 %}<span class="done"></span>{% endif %}
                        {% url 'staff:board' conference.url_snippet as url_board %}
                        {% blocktrans %}
                        You assign yourself to some <a href="{{url_board}}">jobs</a> (or wait until we do).
                        {% endblocktrans %}
                        <br><small>{% trans "You can also exclude jobs that you don't like!" %}</small>
                    </li>
                    <li>{% if step > 4 %}<span class="done"></span>{% endif %}
                        {% url 'staff:agenda' conference.url_snippet as url_agenda %}
                        {% blocktrans %}
                        We release an <a href="{{url_agenda}}">official agenda</a> &mdash; with confirmed times and assignments &mdash; a few days before the event.
                        {% endblocktrans %}
                        <br><small>We will update the released schedule a few times as changes come in.</small>
                    </li>
                </ol>
        </div>
    </div>
    <hr>
    <!-- conference staff form -->

    <div class="card-body">
        <div class="card-text">
            <form action="" method="post" id="conferencestaffform">
                
                {% csrf_token %}
                <p>
                    {% if conferencestaff_form.disabled %}<small>{% trans "You cannot change this setting because you are assigned to jobs." %}</small><br>{% endif %}
                    {{ conferencestaff_form.is_available }}
                    {{ conferencestaff_form.is_available.label_tag }}
                    
                </p>
                {% if conferencestaff_form.entry_exists %}
                {% bootstrap_field conferencestaff_form.notes show_label=False %}
                
                <button type="submit" value="conferencestaff" class="btn btn-primary" name="action">{% trans "Save Notes" %}</button>
                {% endif %}
            </form>
            <script>
             $('#id_conferencestaff-is_available').on('change', function() {
                 $('#conferencestaffform').submit();
             });
            </script>        
        </div>
    </div>
</div>

{% endblock %}
