{% extends 'staffregistration/base.html' %}
{% load l10n i18n markdown_deux_tags %}

{% block title %}{{ conference.short_name }}{% endblock %}

{% block maincontent %}

<article class="card">
    <div class="card-header">
        <h1>{% trans "Job Board" %}</h1>
    </div>
    

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    
    <div class="card-body">
        <div class="card-text">
            {% if job_types.all|length == 0 and job_types_unskilled.all|length == 0 and job_types_excluded.all|length == 0 %}
            <p>{% blocktrans %}There are no jobs yet. We will send you an email as soon as jobs are available!{% endblocktrans %}</p>

            {% else %}

            <p>{% trans "Click on a job type to see available jobs in the schedule below:" %}</p>

            {% if job_types.all|length == 0 %}
            <p>{% blocktrans %}Currently there are no job types available. This will change. Stay tuned!{% endblocktrans %}</p>
            {% endif %}
            
            <div class="list-group">
                
                <!-- regular job types -->
                {% for job_type in job_types %}
                <a href="{% url 'staff:board' conference.url_snippet job_type.id %}" class="list-group-item list-group-item-action {% if current_job_type == job_type %}active{% endif %}">
                    {{ job_type.name }} ({{ job_type.count_open_jobs }} {% trans "open" %})
                </a>
                {% endfor %}
                
                <!-- user does not have enough skills -->
                {% for job_type in job_types_unskilled %}
                <span class="list-group-item list-group-item-action disabled">
                    {{ job_type.name }}
                    {% if job_type.requires_skills.count %}
                    ({% trans "requires" %} {{ job_type.lacking_skills|join:', ' }})
                    {% endif %}
                </span>
                {% endfor %}

                <!-- excluded job types -->
                {% for job_type in job_types_excluded %}
                <a href="{% url 'staff:board' conference.url_snippet job_type.id %}" class="list-group-item list-group-item-action disabled {% if current_job_type == job_type %}active{% endif %}">
                    {{ job_type.name }} (disabled)
                </a>
                {% endfor %}
            </ul>
            
            {% endif %}
        </div>
    </div>
</article>

<div class="card mt-3">
    {% if scheduleset %}
    <h2 class="card-header d-flex justify-content-between">
        {{ current_job_type.name }}
        <form action="" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="excludejob-action" value="{% if not current_job_type in job_types_excluded %}exclude{% else %}allow{% endif %}">
            <input type="hidden" name="excludejob-jobtype" value="{{ current_job_type.id }}">
            <button type="submit" name="submit" value="excludejob"
                    title="{% if not current_job_type in job_types_excluded %}Never assign these jobs to me, kthx!{% else %}{% endif %}"
                    class="btn">
                {% if not current_job_type in job_types_excluded %}
                {% trans 'never assign this to me' %}
                {% else %}
                {% trans 'enable again' %}
                {% endif %}
            </button>
        </form>
    </h2>
    <div class="card-body">
        <div class="card-text">
            {{ current_job_type.long_description|markdown:"trusted" }}
        </div>
    </div>
    {% if not current_job_type in job_types_excluded %}
    <div class="alert alert-danger">
        <strong>{% trans "Schedule Draft!" %}</strong>
        {% trans "This view shows the latest draft, and not necessarily the current schedule. This draft is not binding until it is released by the conference organizers." %}
    </div>

    <div class="card-body">
        <p class="card-text">
            {% blocktrans %}Click on <span id="demobutton" class="btn btn-primary"><i class="fas fa-user-plus" aria-hidden="true"></i></span> to assign yourself to a job.{% endblocktrans %}
        </p>
        
        <form class="form" action="" method="post" id="availability" style="padding: 0;">
            {% csrf_token %}            
            <input type="hidden" name="submit" value="jobassign">
            {% include 'core/mixins/schedule.html' with tabs=True %}
        </form>
        <style>
         .scheduleable { word-wrap: break-word; }
         .grid-foreground-active .scheduleable {
             margin-left: 5px;
         }
         .job-unassigned { --s-background: #eee; --s-border: #ccc; --s-font: #000;  }
         .job-assigned { --s-background: #9BC362; --s-border: #4D7514; }
         .scheduleable-event { --s-background: #D68FAF; --s-border: #B35982; }  
         .grid-container { padding: 0 !important; }
         .scheduleable button {   
             position: absolute;
             top: 0;
             right: 0;
         }  
         .scheduleable button, #demobutton {
             padding: 0px 5px;
             line-height: 1.2;  
         }
         .scheduleable .alert {
             font-size: x-small;
             margin: 3px 0px;
         }
        </style>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
