{% extends 'staffregistration/base.html' %}
{% load l10n i18n markdown_deux_tags %}

{% block title %}{{ conference.short_name }}{% endblock %}

{% block maincontent %}
<article class="card">
    <div class="card-header">
	<h1>{% trans "Your Agenda" %}</h1>
	<ul class="nav nav-tabs card-header-tabs">
	    <!-- Latest confirmed -->
	    <li class="nav-item">
		<a
		    class="nav-link {% if version == 'released' %}active{% endif %} {% if not conferencestaffsettings.last_draft_released %}disabled{% endif %}"
		    href="{% url 'staff:agenda' conference.url_snippet 'released' %}">
		    {% trans "Latest Confirmed Version" %}<br>
		    <small>{% if conferencestaffsettings.last_draft_released %}Version {{ conferencestaffsettings.get_version }}{% else %}{% trans "Not released yet." %}{% endif %}</small>
		</a>
	    </li>
	    <!-- Working draft -->
	    <li class="nav-item">
		<a 
		    class="nav-link {% if version == 'draft' %}active{% endif %}" 
		    href="{% url 'staff:agenda' conference.url_snippet 'draft' %}">
		    {% trans "Current Working Draft" %}<br>
		    <small>{% trans "Pending confirmation!" %}</small>
		</a>
	    </li>

	</ul>
    </div>
    <div class="card-body">
	{% if version != 'released' and jobs|length %}
	<div class="alert alert-warning">
	    <strong>{% trans "Working Draft!" %}</strong>
	    {% trans "The times and assignments here are <strong>not official yet</strong> and are subject to change at any time. You will receive a notification as soon as this version is confirmed!" %}
	</div>
	{% endif %}


	{% if jobs|length %}
	{% if version == 'released' %}
	{% if conferencestaffsettings.last_draft_released %}{% trans "Released" %} {{ conferencestaffsettings.last_draft_released }}{% endif %}
	<p><a href="{% url 'staff:ics' conference.url_snippet %}"><i class="fas fa-download" aria-hidden="true"></i> {% trans "Download as ICS file" %}</a></p>
	{% endif %}
	<p>{% trans "You are assigned to the following jobs:" %}</p>
	{% for job in jobs %}
	{% ifchanged %}{% if not forloop.first%}</ul>{% endif %}<b>{{ job.start_datetime|date:"SHORT_DATE_FORMAT" }}</b><ul>{% endifchanged %}
	    <li>{{ job.start_datetime|time:"H:i" }} &ndash; {{ job.end_datetime|time:"H:i" }}: {{ job.job_type.name }} (Room {{ job.room }})
		{% if job.event %}
		<br><small>{% trans "This job belongs to the following event:" %} <a href="{% url 'core_conference:conference_public_event' job.event.conference.url_snippet job.event.stable_id %}" target="_blank">{{ job.event }}</a></small>
		{% endif %}
		{% if job.staff_assigned.count > 1 %}
		<br><small>with {% for p in job.staff_assigned.all %}{% if p != request.user %}{{p}}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}</small>
		{% endif %}
	    </li>
	    {% endfor %}
	</ul>

	{% else %}
	<div class="alert alert-info">
	    <strong>{% trans "No Jobs." %}</strong>
	    {% trans "You are currently not assigned to any jobs. You can either assign yourself to jobs or wait until a member of the organizing team assigns you to a job. (Make sure that your skills and availability times are up to date.)" %}
	</div>

	{% endif %}
    </div>
</article>

{% endblock %}
