{% load l10n i18n staff_subnav %}

{% url "staff:index" conference_id=conference.url_snippet as href %}
<li class="nav-item {% if request.get_full_path == href %}active{% endif %}">
    <a class="nav-link" href="{{ href }}">{% trans 'Staff' %}</a>
    {% if request.resolver_match.namespaces.0 == 'staff' %}
    {% is_staff_subnav_enabled as staff_subnav_enabled %}
    {% if staff_subnav_enabled %}
    <ul class="subnav">
      {% url "staff:agenda" conference.url_snippet as href %}
      {% url "staff:agenda" conference.url_snippet 'released' as href_alt1 %}
      {% url "staff:agenda" conference.url_snippet 'draft' as href_alt2 %}
	<li>
	    <a class="nav-link {% if request.get_full_path == href or request.get_full_path == href_alt1 or request.get_full_path == href_alt2 %}active{% endif %}" href="{{ href }}"><i class="far fa-calendar" aria-hidden="true"></i> {% trans "Your Agenda" %}</a>
	</li>
	{% url "staff:board" conference_id=conference.url_snippet as href %}
	<li>
	    <a class="nav-link {% if request.get_full_path == href %}active{% endif %}" href="{{ href }}"><i class="fas fa-bullhorn" aria-hidden="true"></i> {% trans "Jobs Available" %}</a>
	</li>
	{% url "staff:availability-skills" conference_id=conference.url_snippet as href %}
	<li>
	    <a class="nav-link {% if request.get_full_path == href %}active{% endif %}" href="{{ href }}"><i class="far fa-clock" aria-hidden="true"></i> {% trans "Your Availability &amp; Skills" %}</a>
	</li>
    </ul>
    {% endif %}
    {% endif %}
</li>
