{% load i18n %}

<tr>
    <td>
	{{ event.event_type }}
    </td>
    <td>
	<a href="{% url 'call:edit' conference.url_snippet event.id %}">{{ event.title }}</a>
	{% if event.subtitle %}<br><small>{{ event.subtitle }}</small>{% endif %}
    </td>
    <td>
	{% if event.language %}
	{{ event.language }}
	{% endif %}
    </td>
    <td class="td-event-status">
	{% if event.status == 0 %}
	<span class="event-status bg-info">{% trans "New" %}</span> 
	{% elif event.status == 1 %} 
	<span class="event-status bg-danger">{% trans "Withdrawn" %}</span> 
	{% elif event.status == 2 %}
	<span class="event-status bg-warning">{% trans "Unconfirmed" %}</span> 
	{% elif event.status == 3 %}
	<span class="event-status bg-success">{% trans "Confirmed" %}</span> 
	{% elif event.status == 4 %}
	<span class="event-status bg-danger">{% trans "Canceled" %}</span>
	{% elif event.status == 5 %}
	<span class="event-status bg-danger">{% trans "Rejected" %}</span>
	{% else %}
	<span class="event-status">{{ event.status }}</span>
	{% endif %}
    </td>
    <td>
	{% if event.released.is_scheduled %}
	{{ event.released.day.date|date:"DATE_FORMAT" }}
	
        {% if event.released.has_datetime %}
        {{ event.released.start_datetime|time:"TIME_FORMAT" }}&ndash;{{ event.released.end_datetime|time:"TIME_FORMAT" }}
        {% endif %}

	{% if event.released.has_room %}
	<br> {{ event.released.room }}
	{% endif %}
	
	{% elif event.is_scheduled and event.status != 0 %}
	{{ event.day.date|date:"DATE_FORMAT" }}
	
        {% if event.has_datetime %}
        {{ event.start_datetime|time:"TIME_FORMAT" }}&ndash;{{ event.end_datetime|time:"TIME_FORMAT" }}
        {% endif %}
	
	{% if event.has_room %}
	<br> {{ event.room }}
	{% endif %}
	
	
        <strong>({% trans "preliminary" %})</strong>

	
	{% endif %}
    </td>
    {% if not conference.eventsettings.is_archived and not hide_event_table_actions %}
    <td>
	{% if event.status == 0 %}
	<a class="btn btn-xs btn-default" href="{% url 'call:delete' conference.url_snippet event.id %}"><i class="fas fa-times"></i> {% trans "delete" %}</a>
	{% elif event.status == 1 %} 
	<a class="btn btn-xs btn-default" href="{% url 'call:undo-withdraw' conference.url_snippet event.id %}"><i class="fas fa-undo"></i> {% trans "undo" %}</a>
	{% elif event.status == 2 %}
	<a class="btn btn-xs btn-primary" href="{% url 'call:confirm' conference.url_snippet event.id %}"><i class="fas fa-check"></i> {% trans "Please confirm!" %}</a> 
	<a class="btn btn-xs btn-default" href="{% url 'call:withdraw' conference.url_snippet event.id %}"><i class="fas fa-times"></i> {% trans "withdraw" %}</a>
	{% elif event.status == 3 %}
	<a class="btn btn-xs btn-default" href="{% url 'call:withdraw' conference.url_snippet event.id %}"><i class="fas fa-times"></i> {% trans "withdraw" %}</a>
	{% endif %}
    </td>
    {% endif %}
</tr>
