{% load i18n %}
   <thead>
	<tr>
	    <th>
	        {% trans "Type" %}
	    </th>
	    <th>
	        {% trans "Title" %}
	    </th>
	    <th>
		{% trans "Language" %}
	    </th>
	    <th>
	        {% trans "State" %}
	    </th>
	    <th>
	        {% trans "Date / Time / Room" %}
	    </th>
            {% if not conference.eventsettings.is_archived and not hide_event_table_actions %}
	    <th>
	        {% trans "Actions" %}
	    </th>
            {% endif %}
	</tr>    
    </thead>
