{% load static %}
<!doctype html>
<html>
    <meta charset="UTF-8">

    <body>
        <div class="page">
            {% for a in assignments %}
            <div class="label">
                <div class="affiliation"><span>{% if a.user.affiliation or a.custom_badge_affiliation %}{% if a.custom_badge_affiliation %}{{a.custom_badge_affiliation}}{% else %}{{a.user.affiliation}}{% endif %}{% endif %}</span></div>
                <div class="name"><span>{% if a.custom_badge_name %}{{a.custom_badge_name}}{% else %}{{a.user.username}}{% endif %}</span></div>
                <div class="role"><span>{{a.roles}}</span></div>
            </div>
            {% if forloop.counter|divisibleby:10 and not forloop.last %}
        </div><div class="page">
            {% endif %}
            {% endfor %}
        </div>
    </body>
    
    <style>
     .page {
         display: grid;
         grid-template-columns: 90mm 90mm;
         grid-template-rows: repeat(5, 55mm);
         margin-left: 15mm;
         /*margin-top: 11mm;*/
         margin-top: 0;
         font-family: Lato;
         grid-gap: 0px;
         top: 11mm;
         position: relative;
         page-break-after: always;
     }
     .label {
         border: var(--border-width) solid grey;
         background-image: url("{% static "piplusplus_noborder.svg" %}");
         background-position: var(--margin-left) 4.5mm;
         background-size: 35.65mm auto;
         background-repeat: no-repeat;
         -webkit-print-color-adjust: exact !important;
         color-adjust: exact !important;
         position: relative;
     }
     .label:nth-child(2n-1):before {
         width: 1cm;
         border-top: var(--crop-mark-width) solid red;
         border-bottom: var(--crop-mark-width) solid red;       
         height: 54mm;
         position: absolute;
         left: -1.5cm;
         top: calc(var(--border-width) * -1);
         content: "";
         box-sizing: border-box;
     }

     .label:nth-child(2n):before {
         width: 1cm;
         border-top: var(--crop-mark-width) solid red;
         border-bottom: var(--crop-mark-width) solid red;       
         height: 54mm;
         position: absolute;
         right: -1.5cm;
         top: calc(var(--border-width) * -1);
         content: "";
         box-sizing: border-box;
     }

     .label:nth-child(-n+2):after {
         height: 1cm;
         border-left: var(--crop-mark-width) solid red;
         border-right: var(--crop-mark-width) solid red;       
         width: 90mm;
         position: absolute;
         top: -1.5cm;
         left: calc(var(--border-width) * -1);
         content: "";
         box-sizing: border-box;
     }   

     .label:nth-child(n+9):after {
         height: 1cm;
         border-left: var(--crop-mark-width) solid red;
         border-right: var(--crop-mark-width) solid red;       
         width: 90mm;
         position: absolute;
         bottom: -1.5cm;
         left: calc(var(--border-width) * -1);
         content: "";
         box-sizing: border-box;
     }   
     
     .role {
         position: absolute;
         top: 2.5mm;
         right: var(--margin-left);
         font-size: 22pt;
         width: 37mm;
         height: 40mm;
         text-align: right;
         line-height: 90%;
     }
     .name {
         position: absolute;
         top: 33mm;
         left: var(--margin-left);
         font-size: 22pt;
         width: 80mm;
         height: 27pt;
     }
     .name span {
         vertical-align: baseline;
     }
     .affiliation {
         position: absolute;
         top: 43mm;
         left: var(--margin-left);
         font-size: 18pt;
         width: 80mm;
         height: 22pt;
     }
     html {
         media: print;
         margin: 0;
         padding: 0;
         --crop-mark-width: 1pt;
         --border-width: 1pt;
         --margin-left: 4mm;
     }

     * {   
         box-sizing: border-box;
         line-height: 100%;
     }

     @page {
         margin: 0 0;
     }

     body {
	 margin: 0;
	 padding: 0;
	 border: 0;
     }

     @media print {
         .label { 
             border-color: white;
             border: 0px;
         }
     }
             
    </style>
    <script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
    <script src="{% static "jquery.textfill.min.js" %}"></script>
    <script>
     $(document).ready(function() {
         $('.name').textfill({maxFontPixels: 30});
         $('.role').textfill({maxFontPixels: 24});
         $('.affiliation').textfill({maxFontPixels: 24});
     });
    </script>
</html>
