{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify markdown_deux_tags %}

{% block content %}
<h1>Confirm E-Mails</h1>
<form action="" method="post">
    {% for key, values in request.POST.lists %}
    {% if key != 'csrfmiddlewaretoken' and key != 'run_now' %}
    {% for value in values %}
    <input type="hidden" name="{{key}}"  value="{{value}}" />
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% csrf_token %}
    <button type="submit" name="run_now" value="True">Send mails as shown below</button>
</form>

<h2>E-Mails</h2>
{% for email in emails %}
<pre style="background-color: #fff; border: 1px solid #999;">
From: {{email.from_email}}
To: {{email.to}}
Subject: {{email.message}}

{{email.body}}
</pre>
{% endfor %}


{% endblock %}
 
