<html contenteditable="true">
    <style>
     body {
         font-family: sans-serif;
     }
     td {
         border: 1px solid #333;
     }
     td, th {
         vertical-align: top;
         padding: 3px;
     }
     table {
         border-collapse:collapse;
     }
     .small {
         font-size: small;
     }
     table tr:nth-child(odd) td{
         background-color: #fff;
     }
     table tr:nth-child(even) td{
         background-color: #eee;
     }

    </style>
    <h1 contenteditable="true">Personenliste</h1>
    <div style="margin-bottom: 1rem;">Alle hier aufgelisteten Personen erhalten ein Namensschild und können gratis essen und trinken (max. 1 Mittagessen).
    </div>
    <table>
        <tr>
            <th>Da?</th>
            <th>Name/Affiliation</th>
            <th>Rolle</th>
            <th>Kontakt</th>
            <th>Anwesenheit</th>
            <th>Notizen</th>
        </tr>

{% for a in assignments %}
        <tr>
            <td></td>
            <td>{{a.user.username}}<br><span class="small" >{{a.user.affiliation|default:""}}</span></td>
            <td>{{a.roles}}</td>
            <td class="small">{{a.user.phone}}<br>{{a.user.email}}</td>
            <td class="small">{% for av in a.ua_availability %}
                {{ av.day.date }}:
                {% if av.not_available %}nicht anwesend
                {% elif not av.start and not av.end %}ganzer Tag
                {% elif not av.start %}bis {{ av.end }} Uhr
                {% elif not av.end %}ab {{ av.start }} Uhr
                {% else %}zwischen {{ av.start }} Uhr und {{ av.end }} Uhr{% endif %}
                <br>{% endfor %}</td>
            <td contenteditable="true">{{a.notes|default:""}}</td>
        </tr>
{% endfor %}
    </table>
</html>
