<ul class="pagination">

    {% for p_num in page_obj.paginator.page_range %}
    <li class="page-item{% if page_obj.number == p_num %} active{% endif %}">
        <a class="page-link" href="{% if page_obj.number == p_num %}#{% else %}{% if p_num == 1 %}{% url 'news:index' %}{% else %}{% url 'news:index' p_num %}{% endif %}{% endif %}">
            {{ p_num }}
        </a>
    </li>
    {% endfor %}

</ul>
